[2012-07-01 21:33] msabramo opened #2 "https:// URLs do not work"
It seems that vcrpy will change the `https://` to `http://`

In one window I start up [justniffer](http://justniffer.sourceforge.net/):

[code]

In another window:

[code]

Note that [marc-abramowitz.com](http://marc-abramowitz.com/) is my site and it only runs on port 80; I don't have an HTTPS server on port 443. So the fact that this raises an HTTP 404 error raises an eyebrow.

Furthermore, if I

[2012-07-02 07:46] #2 closed, assigned to nobody

[2012-07-02 07:49] kevin1024 opened #3 "cassettes written for https are used for requests for the same http url"

[2012-07-02 21:41] kevin1024 opened #4 "Loading urls that do a 301/302 redirect don't work"

[2012-09-27 22:31] sumeet opened #5 "README says Python 2.5 doesn't have context managers"
it does!

[code]

[2012-10-12 01:49] #5 closed, assigned to nobody

[2012-10-12 01:49] kevin1024 opened #6 "Add tests for urllib3"
I'm testing requests, which tests urllib3 indirectly, but I need to add some tests which will test urllib3 directly, since the modules are monkeypatched at a different path.

[2012-11-07 20:44] NorthIsUp opened #7 "publish to pypi"
I'd love to use this but it is much easier to do if published to pypi, could you do this?

[2012-11-10 05:50] bryanhelmig opened #8 "Monkey patch socket."
Love the API you have (very similar to Ruby's VRC) and very nice code!

Another project I was toying around with (recently on HN, I believe I saw you comment) does something similar: https://github.com/gabrielfalcao/HTTPretty/

I've opened an issue over there with the idea of adding a record and playback context manager, almost exactly like your implementation. But, of course, patching at the lib

[2013-01-30 02:44] charlax opened #9 "Would it be possible to update the latest version to pypi?"
Thanks!

[2013-02-22 07:11] #7 closed, assigned to nobody

[2013-02-22 08:47] #9 closed, assigned to nobody

[2013-07-18 03:01] larrycai opened #13 "doesn't support for latest requests package"
[code]

In the readme, it states it support requests, while I can't make it work using sample above.

I use requests 1.2.3

BTW: the url http://www.iana.org/domains/example/ is not valid any more

[2013-07-20 09:04] #13 closed, assigned to nobody

[2013-07-20 15:13] larrycai opened #15 "how to handle different response for same request ? like status will be changed"
// it is more of question

The case or the function has "wait until it is ready" method, the status will be changed with the same request.

For example, I poll the system status using REST API, so the poll request is the same, it will return "not ready", While after several seconds, it will return "ready".

How can I handle this using vcr ? not possible or possible and there is pattern for it.

[2013-08-07 05:04] kevin1024 opened #18 "Save all requests, even if they are for the same URL"
Refs #15

[2013-08-07 05:06] #15 closed, assigned to nobody

[2013-08-07 05:06] kevin1024 opened #19 "Add configuration"
Possible configuration options (mostly stolen from Ruby's VCR)
- Raise exception if HTTP request is attempted to outside world
- Custom request matching
- Save different requests for same URL (refs #18)

[2013-08-08 04:45] #18 closed, assigned to nobody

[2013-08-12 05:04] #3 closed, assigned to nobody

[2013-08-12 05:05] #4 closed, assigned to nobody

[2013-08-16 08:55] graingert opened #20 "Header checking is too brittle"
Should use something like webob.headers.ResponseHeaders to normalize headers

[2013-08-19 10:55] graingert opened #23 "Setting to prevent any network requests in the cassette context"
Currently it's possible to change a test/functionality and cause the tests to go slow/succeed when they should not.

There should be an option to prevent any network requests and protect the cassette from writes.

http://rubydoc.info:8080/github/vcr/vcr/master/VCR/Cassette#VALID_RECORD_MODES-constant

http://en.wikipedia.org/wiki/Compact_Cassette#Write-protection

[2013-08-24 06:43] #19 closed, assigned to nobody

[2013-08-24 06:43] kevin1024 opened #25 "Add custom request matching"

[2013-08-30 17:31] tmoleary opened #26 "Installing vcrpy doesn't include subdirectories"
I have tried to install vcrpy using pip and easy install, and the installation does not contain the persisters, compat and serializers subdirectories. I tried cloning vcrpy using git, and the subdirectories were also missing when I did that. They are present when I download vcrpy as a zip file from github, though. Am I doing something wrong, or is there something missing in your config mgmt proces

[2013-08-30 18:01] #26 closed, assigned to nobody

[2013-09-15 13:39] hokster7 opened #27 "Failure/Error: [Errno 32] Broken Pipe if using httplib"
Thanks for writing this tool! Python VCR really is quite awesome.

I'm requesting for `httplib` support because I'm using [python-flickr-api](https://github.com/alexis-mignon/python-flickr-api) at the moment to, say, upload photos. It uses both `urllib2` and `httplib` libraries.

Without `httplib` support, I can successfully record the requests, but the playback fails when the canned answers are r

[2013-09-15 22:40] hokster7 opened #28 "VCR.py needs to be multipart-boundary agnostic"
Let's say I created a nice request bin at `http://requestb.in/179gbs61`. I run the following tests two times:
- first time with an internet connection available (Wifi connected)
- second time with no internet connection (Wifi disconnected)

I notice for both cases that the relevant VCR files (`fixtures/test_vcr/foobar.yaml'`, `fixtures/test_vcr/foobar-file-upload.yaml`) are created correctly after

[2013-09-16 20:47] hokster7 opened #30 "VCR.py should be OAuth-timestamp / nonce agnostic"
This issue is similar to #28 in spirit: that one was about a changing boundary string, this one is about data within the request generally that changes each time we invoke it: especially request parameters.

Nonces in particular are designed exactly to prevent replay attacks from occurring so unsurprisingly this is potentially a problem for VCR.py. They're usually just passed to the server as a pa

[2013-09-17 04:54] #28 closed, assigned to nobody

[2013-09-17 06:53] #23 closed, assigned to nobody

[2013-09-17 07:00] #30 closed, assigned to nobody

[2013-09-17 07:01] #25 closed, assigned to nobody

[2013-09-17 07:02] #20 closed, assigned to nobody

[2013-09-17 13:40] hokster7 opened #31 "Using VCR.py causes 404 for Flickr upload specifically :S"
More problems with posting. This is very strange behaviour:

[code]

Instead of transparently recording the requests that occur, VCR has completely hi-jacked the call somehow:

[code]

[2013-09-17 23:19] #31 closed, assigned to nobody

[2013-09-17 23:35] #27 closed, assigned to nobody

[2013-09-18 08:31] kevin1024 opened #32 "urllib compatibility"
urllib (though deprecated) uses all kinds of weird httplib compat classes that aren't stubbed properly by vcr.  I would like to support this someday.

[2013-09-27 23:25] hokster7 opened #34 "Provide basic logging and DEBUG, INFO messages"
Not sure if other Pythonistas do this, but I work like this these days:
- write a test (possibly using VCRpy!) with tactical sprinkle of `logger.debug()` bits of info
- run it
- it fails; I see the useful debug trace leading up to failure (which may be an exception, etc.)
- tweak the test / the source code
- re-run the test... etc.
- rinse and repeat

I expect libraries and tools I use to provide

[2013-09-29 08:46] hokster7 opened #35 "Request matching based on parameters (let user define exclusion list as well)"
Most of the time it is sufficient to discriminate between requests with only the URL.

However, APIs like Flickr have largely the same API endpoint. The actual method to be invoked is defined by a parameter `method=...`. The parameter list lives in the body of the request.

Arguably this is bad API design, still, to discriminate between method calls in this case matching on `[url, method, body]` (

[2013-09-29 09:02] hokster7 opened #36 "global name `matcher_name` is not defined"
A minimal case that would reproduce this problem:

[code]

Produces:

[code]

[2013-09-30 01:57] #36 closed, assigned to nobody

[2013-09-30 02:03] #35 closed, assigned to nobody

[2013-10-24 22:03] kacieh80 opened #38 "Python 3 support"
I am running a virtualenv using Python 3.3.2
I get this error when trying to import vcr:

path_to_my_project/lib/python3.3/site-packages/vcrpy-0.3.3-py3.3.egg/vcr/**init**.py", line 1, in <module>
ImportError: No module named 'config'

:(

[2013-10-25 07:15] kevin1024 opened #39 "Update for requests 2.x"
Looks like there are some major API changes in the new version of urllib3 shipped with requests.  Requests 2.x support is a priority for me right now.

[2013-10-25 07:58] #39 closed, assigned to nobody

[2013-11-07 07:34] smallcode opened #42 "WindowsError: [Error 183] Cannot create a file when that file already exists."
Problems in "all" mode: Cannot create a file when that file already exists.

============================= ERRORS =============================
inner_func
    func(_args, *_kw)
  File "D:\Python27\lib\site-packages\vcr\cassette.py", line 141, in **exit**
    self._save()
  File "D:\Python27\lib\site-packages\vcr\cassette.py", line 103, in _save
    serializer=self._serializer
  File "D:\Python27\l

[2013-11-10 22:31] #42 closed, assigned to kevin1024

[2013-11-18 06:36] dotIN opened #45 "how to call response_of method ?"
I tried passing the request URI , it fails with below error

AttributeError: 'str' object has no attribute 'url'

And if I pass Request Object I get below error

[code]

  File "/Library/Python/2.7/site-packages/vcr/cassette.py", line 76, in response_of
    raise KeyError
KeyError

Can you please help

[2013-11-18 13:40] ghost opened #46 ""cassette is write protected" exception message is cryptic"
The error raised when trying to reuse an existing file for a different request is really confusing. It reads like the file is write-protected by the OS (for instance by another process), rather then informing the user that by design cassete files are immutable.

Regardless, this lib is pretty awesome and I expect I'll be using it more in the future -
Thanks.

[2013-11-20 00:57] tmoleary opened #47 "Is there a way to exclude a url param from comparisons?"
We would like to use vcrpy to test some of our code that calls an external web service, but each time you send a GET or POST request to that api, you need to include a param of the form timestamp=<todays_datetime_as_an_int>. If you omit it, or use an old timestamp value, it doesn't return any results. So any url string that we send to that api is different in that one param than the one that creat

[2013-11-26 19:18] msabramo opened #48 "`AttributeError: 'NoneType' object has no attribute 'settimeout'` when using requests.session and connection gets closed"
The code that VCRpy has for removing and setting `sock` to `None` (in order to work around some behavior of `requests` apparently) causes problems if you:
1. Open a `requests.session`
2. Issue a request that results in the connection being closed
3. Issue another request

The result of these steps is an exception being raised: `AttributeError: 'NoneType' object has no attribute 'settimeout'`.

Usi

[2013-12-02 00:24] #47 closed, assigned to nobody

[2013-12-02 00:40] #46 closed, assigned to nobody

[2013-12-02 00:40] #48 closed, assigned to nobody

[2013-12-02 00:45] #45 closed, assigned to nobody

[2013-12-02 02:51] dotIN opened #51 "JSON serializer can't serialize binary data: UnicodeDecodeError: 'utf8' error"
When I try to upload or download a .zip file, i see the above error, If i make a plain requests call it works , but with vcr I see the above error
Guess this is happening while serialising the content , with this error the cassette never gets created

Here is the stack -

File "/Library/Python/2.7/site-packages/vcr/cassette.py", line 127, in **exit**
    self._save()
  File "/Library/Python/2.7/si

[2013-12-02 09:52] smallcode opened #54 "cookies lost"
1. Open a requests.session
2. Issue a request
3. Issue another request, the cookies will be losed

when issue the first request, the cookies will be set, like 'PHPSESSID'. Then issue the second request, the cookies set from the first request will be losed. with vcr.use_cassette, r2 return the wrong content, without use_cassette, it will be fine.

[2013-12-05 16:00] dotIN opened #55 "is allow_http_connections_when_no_cassette supported?"
The ruby version has this useful config allow_http_connections_when_no_cassette , cant find this in vcrpy. Is there plan to support this or am I missing something

[2013-12-07 21:52] #55 closed, assigned to nobody

[2014-01-11 19:38] #54 closed, assigned to nobody

[2014-02-04 08:07] msabramo opened #59 "Tests failing with latest version of requests?"
Running tox on `master` has a few failing targets, the ones that pull down the current version of requests, which is 2.2.1 (released 2014-01-23).

[code]

Each of the failing targets fails with the following:

[code]

I think the latest Travis CI builds on master will fail too once there is a commit, as I am seeing the same error in the Travis CI build for PR #58 from @asmundg.

[2014-02-04 18:49] #59 closed, assigned to nobody

[2014-03-06 21:31] larkin opened #66 "AttributeError when recording HTTPS request"
Not sure if this is a problem with the HTTPS implementation in vcrpy or the boto implementation specifically, but when recording a s3 request made via boto, VCR throws the following error:

[code]

Assuming you have a AWS_CREDENTIAL_FILE, you can reproduce it with this code:

[code]

If I have time later today I will try and narrow this down to something that doesn't require boto, and if I can, th

[2014-03-09 09:03] #66 closed, assigned to nobody

[2014-03-09 09:05] #38 closed, assigned to nobody

[2014-03-10 00:01] Aaron1011 opened #67 "Allow filtering the data saved"
Currently, vcrpy saves all of the data from a request. However, sometimes there may be part of a request that you wouldn't want recorded, such as authentication data. It would be nice if vcrpy allowed a way to scrub data from a request before it is saved, similar to the way [httreplay](https://github.com/davepeck/httreplay#slightly-more-advanced-usage) does it.

[2014-03-22 12:27] smallcode opened #70 "Issues about the fixtures path"
Use vrcpy a long time, it was very good. However, there is always a problem plaguing me.
Every time you use the 'use_cassette' function always need to pass a parameter 'path' (This path is often the same, except the file name), I feel a bit repetitive operations.

If you have a function, such as 'auto_cassette', can automatically detect the path, and save the resulting file into it, it will be ver

[2014-03-29 22:46] #70 closed, assigned to nobody

[2014-04-10 15:48] simon-weber opened #74 "Ignore some requests?"
Imagine this code:

[code]

I'm working around this right now by using pycurl - which VCR.py can't mock - when exercising the app endpoint.

Is there a better way of ignoring some requests? The patch for requests looks pretty deep, and I can't put the vcr context manager inside app code.

[2014-04-27 00:34] #51 closed, assigned to nobody

[2014-04-27 21:31] #34 closed, assigned to nobody

[2014-04-27 21:39] #67 closed, assigned to kevin1024

[2014-05-04 01:25] #74 closed, assigned to kevin1024

[2014-05-04 01:28] kevin1024 opened #77 "Update stored Response to match stored Request format"
Since we are updating the format of cassettes in version 1.0.0, I would like to update the format of the recorded responses to match the format of the recorded requests.

[2014-05-10 21:55] #77 closed, assigned to kevin1024

[2014-05-12 22:40] jashugan opened #79 "When `record_mode` is set to 'once' and `ignore_localhost` set to True, requests to localhost raise `CannotOverwriteExistingCassetteException`"
I was playing with the new `ignore_localhost` option when configuring vcr (btw thanks for implementing this) when I ran into a problem where `CannotOverwriteExistingCassetteException` was being thrown when localhost requests were being processed.

It seems that in `stubs/__init__.py` raises this error whenever a request is not in the cassette and `record_mode` is set to "once". This is expected be

[2014-05-17 19:34] #79 closed, assigned to nobody

[2014-06-27 18:05] Changaco opened #81 "Misleading error message"
[Cassette.play_response()](https://github.com/kevin1024/vcrpy/blob/v1.0.2/vcr/cassette.py#L118) raises `UnhandledHTTPRequestError("The cassette (%r) doesn't contain the request (%r) asked for")` when matching requests do in fact exist in the cassette, but their `play_counts` is not zero. That's a bit misleading, I think a more specific error message would be better.

[2014-07-07 23:46] jruere opened #82 "Incorrect example in the README"
[code]

There's a colon at the end of the annotation. :)

[2014-07-08 02:02] #82 closed, assigned to nobody

[2014-07-17 14:56] hartsock opened #83 "HTTPS support"
The library appears to fall down when HTTPS connections are used. A simple test like this...

[code]

... works beautifully ... but when 'https' is used ...

[code]

... the test produces the following trace ...

[code]

Can we get HTTPS support?

[2014-07-17 17:40] #83 closed, assigned to nobody

[2014-07-22 02:35] hartsock opened #85 "smarter vcr.use_cassette paths"
In [this commit](https://github.com/hartsock/pyvmomi/commit/8ba27ed929c4c696064bc69e6ba6b82a5a1d6396) I make use of the fully qualified path 'tests/fixtures/basic_connection.yaml' to load a cassette. This works fine from `$ python setup.py test` but if I run this from inside pyCharm I will see:

[code]

Note: there are some odd interactions with my library's own HTTP wrappers but I think this shou

[2014-07-23 18:00] #85 closed, assigned to nobody

[2014-07-24 20:26] hartsock opened #86 "compat.collections getting loaded in Python 3 in some cases"
Attempting to set up python 3 testing for our library I ran into this issue...

[code]

[2014-07-25 20:19] #86 closed, assigned to nobody

[2014-07-28 20:35] hartsock opened #88 "Question: validate form of requests"
I spotted a new issue in integration testing https://github.com/vmware/pyvmomi/issues/90

It seems I failed to take into account testing for malformed requests. I have a new bug where the 'b' character is injected into my strings. How can I test just the requests as well as how my code handles responses?

[2014-07-28 22:29] #88 closed, assigned to nobody

[2014-07-29 15:18] hartsock opened #89 "Feature Request: Register matchers for decorator"
Using the decorator `@vcr.use_cassette` means I can't use custom matchers. I'd like to be able to register custom matchers for the decorators to use ... or to talk to the default_vcr object in a more transparent manner.

So far, I've included the following at the top of a file I want to have a custom matcher for use with the decorator... things look like this...

[code]

[2014-07-29 16:03] hartsock opened #90 "Header case-sensitivity?"
`cookie = resp.getheader('Set-Cookie')` versus `cookie = resp.getheader('set-cookie')`

My HTTP client library under python 2 used `getheader('set-cookie')` this returns `None` when using VCRpy. Practical testing seems to indicate that in production the `getheader` method is case insensitive.

Is this a bug?

[2014-07-29 19:27] #89 closed, assigned to nobody

[2014-07-29 19:27] #90 closed, assigned to nobody

[2014-07-30 19:13] hartsock opened #91 "VCRpy getheader is case sensitive"
`cookie = resp.getheader('Set-Cookie')` versus `cookie = resp.getheader('set-cookie')`

My HTTP client library under python 2 used getheader('set-cookie') this returns None when using VCRpy. Practical testing indicates that in production the getheader method is case insensitive.

Note [rfc2109](http://tools.ietf.org/html/rfc2109#section-4.2.2) documentation....

This means values such as `set-cook

[2014-08-01 16:50] xczheng opened #93 "https problem on old version (0.7.0)"
Hi Kevin,
  Can you please take a quick look where the problem is likely to be? Here are stacktrace and where it was broken:

Broken point:
            # yes, create the SSL object
            self._connected = True
            self._sslobj = _ssl.sslwrap(self._sock, server_side,
                                        keyfile, certfile,
                                        cert_reqs, ssl_versi

[2014-08-02 02:42] #91 closed, assigned to nobody

[2014-08-15 21:12] #93 closed, assigned to nobody

[2014-08-29 18:41] matt-thomson opened #94 "Error with HTTPS and Requests 2.4.0"
The following script runs fine with Requests 2.3.0:

[code]

However, with Requests 2.4.0, it throws the following error:

[code]

Replacing 'https' with 'http' also makes the error go away.

[2014-09-02 01:51] #94 closed, assigned to nobody

[2014-09-02 02:08] #81 closed, assigned to nobody

[2014-09-04 20:38] hartsock opened #95 "Please add vcr.stubs.VCRHTTPSConnection.is_verified"
The HTTPS `is_verified` property is used in some of our tests. I've [stubbed](https://github.com/vmware/pyvmomi/blob/cb87c26aeb1382396adff0ea885b59371bca95c0/tests/__init__.py#L31) out the method for our own tests as a stop-gap measure. I'm not sure what the best fit solution would be for the library in general, but I'm willing to write it and submit a pull request for the change given a bit of gu

[2014-09-06 15:35] matt-thomson opened #96 "Multiple header values not stubbed correctly on Python 3"
The following test passes on Python 2.7, but fails on Python 3.4:

https://github.com/matt-thomson/vcrpy/commit/7a5795a5476bf843b883b5983559a2fd5fd815f3

On Python 3.4, `outside` has the value `bar, baz`, as expected, but `inside` has the value `baz`.

[2014-09-07 20:06] #96 closed, assigned to nobody

[2014-09-11 17:52] suederat opened #98 "use_cassette as decorator fails to pass unknown kwargs, pytest important"
usage requires edited conftest and execute with py.test --template FOO
# conftest.py

[code]
# test.py

[code]
# usage:

`py.test -s test.py --template FOO`
# suggested fix

config.py

[code]

[2014-09-11 17:53] suederat opened #99 "use_cassette as decorator fails to pass unknown kwargs, pytest important"
usage requires edited conftest and execute with py.test --template FOO
# conftest.py

import pytest
@pytest.fixture
def template(request):
    return request.config.getoption("--template")

def pytest_addoption(parser):
    parser.addoption("--template", action="store",type='string',
                     help="set the name of the template to use in tests")
# test.py

import vcr
import pytest
@vcr.

[2014-09-16 12:17] colonelpanic8 opened #102 "Should the decorator version of use_cassette create a new Cassette instance each time the decorated function is invoked."
I noticed that if you call a function that is decorated with use_cassette (ie. a Cassette instance) calling the function multiple times will generally lead to problems because the cassette state will be shared across invocations of the function. vcrpy is typically used with run once test functions so this probably isn't a huge issue, but this seems somewhat undesirable to me.

Is there a good reas

[2014-09-17 05:20] #99 closed, assigned to nobody

[2014-09-18 03:01] kevin1024 opened #106 "incompatibility with campaignmonitor/createsend"
They are creating their own verifiedhttpsconnection, we would need to patch that as well.

https://github.com/campaignmonitor/createsend-python/blob/master/createsend/utils.py

Example traceback:

[code]

[2014-09-18 10:46] colonelpanic8 opened #107 "Nesting CassetteContextDecorators does not work properly"
Nesting any use of CassetteContextDecorators will result in complete unpatching after the first context is exited. This is because the reset function in patch.py indiscriminately sets all the patches back to the original state that was found in the module at import time.

Patching is a pretty tricky problem and I think that doing it by hand amounts to reinventing the wheel in some sense. I think t

[2014-09-18 23:41] colonelpanic8 opened #109 "Session created while cassette is active is still attached to cassette when context manager exits"
I think that this might have to do with requests using a connection pool which would keep a reference to the any VCRConnection instances.

Here is a test that illustrates the issue:

[code]
#108 does not solve this and in fact has another similar issue which is that sessions created in one context do not pick up context from any new context blocks that are created (or at least their behavior is in

[2014-09-21 12:18] #102 closed, assigned to nobody

[2014-09-21 12:29] #109 closed, assigned to nobody

[2014-09-22 00:46] #107 closed, assigned to nobody

[2014-09-23 00:06] #98 closed, assigned to nobody

[2014-10-01 00:03] suederat opened #111 "ubuntu13: VCRHTTPSConnection instance has no attribute 'set_tunnel'"
I dont know why this issue is showing up, not sure how i broke vcrpy or its dependents. I tested code that still works on my macbook. Here are some facts from the ubuntu env in which this is showing up.
# test_foo.py

import urllib2
import vcr

@vcr.use_cassette('stmp')
def test_hello_go_ogle():
    urllib2.urlopen('https://www.google.com')

stack-trace-------------
exc = (<type 'exceptions.Attrib

[2014-10-02 15:36] adamgilman opened #112 "urllib3 no attribute 'ConnectionCls' when running demo"
[code]

returns

[code]

Details

Python 2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2] on linux2

vagrant@ubuntu-14:/vagrant$ pip freeze
PyYAML==3.11
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
contextlib2==0.4.0
mock==1.0.1
nose==1.3.4
nosy==1.1.2
praw==2.1.18
python-apt==0.9.3.5
python-debian==0.1.21-nmu2ubuntu2
requests==2.2.1
six==1.5.2
ssh-import-id==3.21
update-checker==0.10
u

[2014-10-06 05:28] #112 closed, assigned to nobody

[2014-10-07 15:46] chrisseto opened #114 "JSON serializer does not properly construct UnicodeDecodeError which causes a type error instead"
[code]

The above code produces the following error but works fine when `serializer` is not specified.

[code]

[2014-10-07 20:25] #114 closed, assigned to nobody

[2014-10-08 18:50] karmstrong-ns opened #115 "Version on pypi slightly out of sync with version on github"
Looking at [vcr/patch.py at line 278 on github](https://github.com/kevin1024/vcrpy/blob/master/vcr/patch.py#L278), there's an if-statement that checks if `urllib3.connectionpool.HTTPConnectionPool` has the attribute `ConnectionCls` whereas the version in the pypi repo doesn't have this check. There might be other differences as well, I haven't diffed the whole module. Could you update the version

[2014-10-08 20:38] #115 closed, assigned to nobody

[2014-10-22 04:05] gazpachoking opened #116 "Crash when playing back requests on Windows"
I am getting this crash when trying to play back cassettes using requests on Windows. Seems the `FakeSocket` instance is not qualifying as a socket.

[code]

[2014-10-24 18:36] rtaboada opened #117 "VCRHTTPResponse should have a headers field."
One library we use is expecting a `http.client.HTTPResponse`, in Python 3 this class has a `headers` field that the library is using.

My tests are failing with this error:
 `AttributeError: 'VCRHTTPResponse' object has no attribute 'headers'`

[2014-11-03 12:07] #117 closed, assigned to nobody

[2014-11-07 20:00] breerly opened #120 "Support for Tornado HTTP"
Is Tornado's HTTP client not supported? Thanks

http://tornado.readthedocs.org/en/latest/httpclient.html

[2014-11-17 16:15] matt-thomson opened #121 "Problems with POSTing a file with requests"
It's possible to POST a file with requests, which vcrpy doesn't handle very well.  See the test below:

[code]

On Python 2, this fails as something like the below is written to the YAML file:

[code]

On Python 3, this fails with:

[code]

Can probably work around this with a custom serializer, but would be good to have this working out of the box.

[2014-11-19 16:42] breerly opened #122 "Support for Thrift."
Thinking it would be great for users of thrift to do integration testing with VCRpy as well.

Thoughts?

[2014-11-21 01:40] jashugan opened #123 "When attempting to replay the same request twice using record_mode="new_episodes", vcr.py raises UnhandledHTTPRequestError"
[code]

I expected that the second request to the same endpoint would get added, but it was not.

[2014-11-22 01:18] #123 closed, assigned to nobody

[2014-12-08 20:29] #116 closed, assigned to nobody

[2014-12-19 03:04] breerly opened #129 "Unable to patch urllib2 after install_opener has been used."
We're using a custom opener with urllib2 (adding some additional sec features), looks something like so:

[code]

The opener overwrites the `https_open` method so that a custom connection object can be used. Something like the following:

[code]

Then when I use vcrpy, I get the following:

[code]

Any ideas? Thanks

[2014-12-23 11:16] vanclevstik opened #130 "Problems with Python 2.7.9 and urllib2"
It seems like the release of Python 2.7.9 brought some changes to urllib2 that are incompatible with vcrpy.

Running tests with python 2.7.9 throws similar error on most of the `test_urllib2` tests:

[code]

Re-running Travis build now that Travis has upgraded to 2.7.9 would probably finish with failed build.

[2014-12-26 10:12] #130 closed, assigned to colonelpanic8

[2014-12-26 11:21] roy2006 opened #131 "vcrpy doesn't work under django?"
I'm trying to use vcrpy to accelerate the execution of my django application test suite. I'm using django 1.7 on Mac, with Python 2.7.

I added the following couple of lines to one of my tests:

[code]

The result is an import error:

[code]

The problematic code in stubs/**init**.py is :

[code]

This code seems to run fine when I'm just running it from a plain python console, but it results in t

[2015-01-03 18:04] IvanMalison commented on #131
Can you try running in a virtualenv? You can use tox to specify dependencies or just use a requirements.txt file. It seems like this might not be related to vcrpy.

[2015-01-03 18:08] IvanMalison commented on #129
@breerly Can you supply a traceback?

Do you need any of the custom connection logic to run in your tests? If not, you might be able to get away with simply patching `CustomHTTPSConnection` with VCRHTTPSConnection.
The thing is that vcrpy would need to provide a hook to provide custom patches, which it does not currently do. If this type of solution would work for you, I can write some code to sup

[2015-01-03 18:11] IvanMalison commented on #8
@kevin1024 I know that this could take a ridiculous amount of work, and what essentially amounts ot a complete refactor, but have you ever thought about trying to use httppretty as the patching backend for vcrpy?

[2015-01-03 19:48] kevin1024 commented on #8
Yup that would be amazing.  I would love for vcrpy to work at a lower level instead of patching httplib.  It would certainly make the maintenance easier!

Of course patching at the socket layer means we need to parse HTTP to support some features.  There are some nice HTTP parsing libraries out there these days.

[2015-01-04 13:18] roy2006 commented on #131
I think you're right - it's not related to vcrpy. I played a bit with my application within a virtualenv, and outside of it, and as far as I can see there's something there that causes the issue. I wasn't able to put my finger on what it is exactly, but at some point I just gave up.

[2015-01-05 07:17] Ram-Z commented on #131
I get the same error trying to run the tests from [flexget](http://github.com/flexget/flexget) from within a virtualenv:

[code]

My `pip freeze`:

[code]

[2015-01-05 22:53] IvanMalison opened #132 "Add credential scrubbing funtionality to vcrpy?"
@kevin1024 What do you think about adding some type of credential scrubbing functionality to vcrpy? This is something that I implemented (somewhat messily) in https://github.com/IvanMalison/okcupyd/blob/master/okcupyd_testing/util.py, and I'm finding that I need similar types of things in other places that I use vcr.py.

It might be hard to come up with something that really works 100% of the time

[2015-01-06 02:14] kevin1024 commented on #132
It's already in there :)

https://github.com/kevin1024/vcrpy#filter-sensitive-data-from-the-request

[2015-01-06 02:15] kevin1024 commented on #132
Please reopen if you had something else in mind though.

[2015-01-06 02:15] #132 closed

[2015-01-06 02:17] IvanMalison commented on #132
sorry, I should have been clearer. Sometimes the relevant information is not in the queryparams or the header of the file, so I what I had to write that does this in a custom way is filtering for the request body, which can be particularly difficult because the request body is often gzipped. This is probably still a more obscure use case, so it might not be something that is worth includin gher.

[2015-01-06 02:24] kevin1024 commented on #132
Ahh yes I see, so stuff that's not in a header or a querysting, but in the body of the request.  You can of course do it with the before_record callbacks as you have already done.  You raise a good point with the gzip stuff - so far VCR.py has managed to avoid doing any gzipping/unzipping.

My philosophy with VCR's API is to take care of the 90% case super easily (credentials in headers or queryst

[2015-01-06 02:30] IvanMalison commented on #132
Yeah I guess so. I had forgotten that vcrpy does have some oob request scrubbing functionality when I raised this issue (which already covers the 90% case pretty well as you mentioned), so I think it is probably fine to just ignore this (sorry).

I guess the main situation where you might find sensitive information in the body of a request is when it is a post request and it is part of a form. Doi

[2015-01-07 19:17] tiffanycheng commented on #129
No, the custom connection logic doesn't actually need to run. Patching the `CustomHTTPSConnection` with VCRHTTPSConnection should work.

[2015-01-08 19:02] IvanMalison commented on #129
@tiffanycheng @breerly https://github.com/kevin1024/vcrpy/pull/133 should enable the behavior that you want.

All that you really need to do is use a custom vcr for patching that looks like:
[code]

[2015-01-08 21:47] IvanMalison commented on #129
Build failed on a flake, passed in my travis https://travis-ci.org/IvanMalison/vcrpy/builds/46351398

Rerunning.

[2015-01-12 11:29] MattBlack85 opened #134 "ValueError: I/O operation on closed file"
Hi, I'm having this error today with vcrpy, here's the traceback:
[code]
I'm making a POST request with a file and it seems that cannot be accomplished for some reasons, do you know what I'm doing wrong?

[2015-01-12 16:58] IvanMalison commented on #134
Can you post the exactly line that you suspect is causing this error?

[2015-01-12 17:06] kevin1024 commented on #134
I wonder if this is related to #121.  I think yaml is having trouble serializing a closed file.

[2015-01-13 08:35] MattBlack85 commented on #134
@IvanMalison the line which "causes" the error is:
[code]
basically no error is raised unti vcr start to make its own job

[2015-01-21 23:55] fernandogrd commented on #131
Same here, using django 1.6.10 and python 2.7.9

[2015-01-22 23:17] tiffanycheng commented on #129
@IvanMalison It worked perfectly!

[2015-01-22 23:19] IvanMalison commented on #129
cool. I'm going to close this issue for now. Let me know if there are any more problems.

[2015-01-22 23:19] #129 closed

[2015-01-30 03:05] IvanMalison commented on #95
@hartsock is this still an issue for you?

[2015-01-30 03:07] IvanMalison commented on #131
@fernandogrd Are you running inside of a virtualenv? @roy2006 Is your application on github?

[2015-01-30 19:18] fernandogrd commented on #131
@IvanMalison Yes, under virtualenv, the project has a lot of dependencies..

[2015-03-23 19:17] aisch opened #137 "urllib3 patch does not seem to work"
using `urllib3.PoolManager` directly (not via `requests`) but none of these `.request()` calls seem to be patched.

[2015-03-23 21:38] aisch opened #139 "reduce duplication for integration tests of similar libs"
for libs that do ~ the same thing (e.g. httplib, urllib2, urllib3, requests) most of the test *behavior* and *fixtures* are the same (see `e.g. tests/integration/test_urrlib2.py:test_cross_scheme`) but just copied around. is there a nice way to reduce that copying?

some ideas for that are here: https://github.com/kevin1024/vcrpy/pull/138.

[2015-03-24 00:47] #6 closed

[2015-03-24 00:47] #137 closed

[2015-03-24 10:37] techtonik opened #140 "xmlrpclib support"
`vcrpy` and `xmlrpclib` don't work together. Without vcr, the following code outputs tracker schema.

[code]

With vcr it fails:

[code]

[2015-03-24 15:02] phoet commented on #122
does not look like this is possible any time soon?

[2015-03-24 23:43] #121 closed

[2015-03-24 23:44] IvanMalison commented on #134
@MattBlack85 Can you check to see if #141 solved your issue? The new code hasn't made it in to a release yet, so you'll have to use the version that is currently on master manually. Let me know if you need help setting that up.

[2015-03-24 23:47] kevin1024 opened #142 "Use pytest-httpbin"
This would help builds run faster and probably pass more consistently.  It's also one of my main motivations for writing it.  I just need to get the motivation to actually *use* it :-P

[pytest-httpbin](https://github.com/kevin1024/pytest-httpbin)

[2015-03-24 23:50] IvanMalison commented on #142
Yeah, I had noticed that you hade made that library and was curious as to why vcrpy's tests don't use it. At least we have an issue for this now.

[2015-03-24 23:53] IvanMalison commented on #106
seems like this could be dealt with in much the same way as
https://github.com/kevin1024/vcrpy/issues/129

[2015-03-25 00:11] IvanMalison commented on #140
Can you check if this still happens in https://github.com/kevin1024/vcrpy/compare/getresponse_should_take_kwargs (fdd1883)

[2015-03-25 05:53] techtonik commented on #140
@IvanMalison, `TypeError` is gone, but `vcrpy` still doesn't work correctly - it fails to intercept payload. So, the problem may be somewhere in a different place. Headers are ok (although sent in different order), but body is an empty string and should by XML payload. So, the script still fails:

[code]

[2015-03-25 12:17] MattBlack85 commented on #134
sure, I'll try it asap!

[2015-03-27 06:08] IvanMalison commented on #134
@MattBlack85 update?

Can you show me the test case that caused this issue. I'd like to make a new vcrpy release, but I want to make sure this issue is fixed before I do.

[2015-03-27 11:37] techtonik opened #143 "Document Cassette format"
Is it worth to document the format of cassettes so that they could be built up and edited manually?

[2015-03-27 12:16] IvanMalison commented on #143
Probably worth it to document the cassette format, but thou should be able to do what you are talking about by using an existing cassette as a template.

[2015-03-27 16:17] kevin1024 commented on #143
Sure, it would be nice to document the cassette format.

I consider the cassette format part of the public API, so changing it requires a major version bump.

Documenting it might also make external tools that work on cassettes possible.

It's worth noting that there are a couple different serializers for cassettes - JSON and YAML.  I don't think the actual structure of the cassette changes though

[2015-03-28 12:49] paranoidi commented on #131
Seems doing this for me as well. Fresh bootstrapped flexget (so virtualenv), python 2.7.6 on Ubuntu 14.04.1 LTS (server).

[2015-03-28 20:28] MattBlack85 commented on #134
@IvanMalison I just tried installing from master and I'm not getting anymore the I/O error!

[2015-03-29 08:37] IvanMalison commented on #134
Okay. Can i consider the issue solved?
On Mar 28, 2015 3:28 PM, "Mattia Procopio" <notifications@github.com> wrote:

[2015-03-31 09:33] MattBlack85 commented on #134
Yep, we close this

[2015-03-31 14:02] #134 closed

[2015-04-01 02:13] samstav opened #145 "TypeError when using use_cassette(..., with_current_defaults=True)"
[code]

The following code will reproduce the error:

[code]

[2015-04-02 00:21] IvanMalison commented on #131
@fernandogrd @paranoidi
Are either of your projects on github/easily cloneable/runnable so that I can take a deeper look in to this?

[2015-04-02 00:46] #145 closed

[2015-04-02 01:21] IvanMalison commented on #131
six.py uses a custom metapath importer. I suspect that this issue has something to do with this https://bitbucket.org/gutworth/six/src/784c6a213c4527ea18f86a800f51bf16bc1df5bc/six.py?at=default#cl-164

[2015-04-06 20:06] prometheanfire opened #147 "Dependency that is only compatible/needed with/in python 2 in setup.py"
this causes pip install to fail (at least with my py3.4 system)

[2015-04-06 20:09] IvanMalison commented on #147
This is working for me on my OSX yosemite machines, and it has not caused in the travis linux (debian, i think) builds. Can you give me some more details about your system?

[2015-04-06 20:10] IvanMalison commented on #147
also, can you clarify what the of this issue means?

[2015-04-06 20:13] prometheanfire commented on #147
pip install --user --install-option="--install-scripts=/home/mthode/bin" vcrpy
    Downloading/unpacking vcrpy
      Downloading vcrpy-1.4.0.tar.gz
      Running setup.py (path:/tmp/pip_build_mthode/vcrpy/setup.py) egg_info for package vcrpy

    Requirement already satisfied (use --upgrade to upgrade): PyYAML in /usr/lib64/python3.4/site-packages (from vcrpy)
    Requirement already satisfied (us

[2015-04-06 21:23] kevin1024 commented on #147
ah, probably just needs something like this:

[code]

[2015-04-06 21:25] prometheanfire commented on #147
Ya, something like that could work.  Either that or checking the python version and using that to append.

[2015-04-06 21:27] IvanMalison commented on #147
yeah but then the question is: why isn't this failing in travis?

[2015-04-06 21:28] prometheanfire commented on #147
The install technically succeeds, I'm guessing other protections protect the tests from importing this lib.

[2015-04-06 21:30] kevin1024 commented on #147
Maybe travis's `pip` has a `#!/bin/python2`  at the start.

[2015-04-07 04:11] techtonik commented on #140
Still a problem with `1.4.0` that `vcr` call is made with empty body of request resulting in `400 Bad Request` response.

[2015-04-12 00:32] kevin1024 commented on #142
Working on this a bit in a branch: https://github.com/kevin1024/vcrpy/tree/pytest-httpbin

[2015-04-13 00:27] IvanMalison opened #150 "use_cassette decorated functions are not reentrant"
This probably isn't a huge issue, but I just realized that CassetteContextDecorator is not threadsafe. If you were to call a function that is decorated with use_cassette from two different threads, the `__finish` attribute of the function could be overwritten before the first call to the function returns. This would make it so the first unpatch never occurs, and also attempt to do a `next()` on a

[2015-04-25 00:18] IvanMalison commented on #150
I think that this is actually a pretty serious issue. If there is a test runner that does single process threaded test execution, decorated functions could present a problem.

[2015-05-05 02:23] klvbdmh opened #151 "Dynamically generate cassette's name"
At the moment you have to explicitly name the cassette file in the path parameter when using a decorator:

    @vcr.use_cassette('article_header.yaml')
    def test_get_article_header_text_from_url():
        # rest of function...
    # cassette is saved as 'article_header.yaml'

Is it possible to dynamically generate cassette's name so it's taken from the decorated function instead?

    @vcr.use

[2015-05-05 02:34] kevin1024 commented on #151
Nothing built in, but I think Venmo did something like that with their custom decorator.  Read about it here:

http://engineering.venmo.com/blog/2014/04/30/vcrpy-at-venmo/

[2015-05-05 02:42] IvanMalison commented on #151
Yep. I did this in:
https://github.com/IvanMalison/okcupyd/blob/master/okcupyd_testing/util.py#L227
It might be a bit hard to understand that without reading these docs:
http://okcupyd.readthedocs.org/en/latest/core.html#curry

The main trick is basically that a call to use_cassette actually returns a context manager/decorator, but the function name is not available at this time. You would need to

[2015-05-05 05:47] IvanMalison commented on #151
@kevin1024 What do you think about adding this as built in functionality to vcrpy?

[2015-05-05 05:50] kevin1024 commented on #151
Seems to be a pretty common use case; I'm happy to add it if we can come up with a good API.

[2015-05-05 05:53] IvanMalison commented on #151
I'm imagining an identical API, except that if no path is provided, the function name + 'yaml' (or perhaps look at the serialization method) is used. As far as how it is used it would be exactly like https://github.com/IvanMalison/okcupyd/blob/master/okcupyd_testing/util.py#L227, but hopefully the implementation can be a bit less hacky.

[2015-05-05 06:03] kevin1024 commented on #151
Yeah, I think that's good.  So it would be

[code]

I think it might be useful to have a method for overriding the filename generation.  Kind of like how you can have custom matchers.  The default filename generation would probably just use function name + $SERIALIZER_EXTENSION. Unless we should we include the module name too?

[2015-05-05 06:07] IvanMalison commented on #151
sure, maybe just something like you can pass in a custom function that takes the function to be decorated as an argument and generates the filename.

I'm not sure If I see a way to do this without including the currying code that I mentioned earlier, now that I think about it.

I'm assuming that we want to maintain the interface that allows parameter passing....

[2015-05-05 11:52] klvbdmh commented on #151
A "really, really simple version" posted by @IvanMalison works great. Thanks! I've added a simple string concatenation so that generated cassettes have .yaml extension.

I prefer this solution to more complicated approaches such as venmo's or okcupyd's. Obviously, out-of-box support would be the best.

Personally, the lack of parameter passing doesn't bother me so much. I set options through insta

[2015-05-06 00:28] klvbdmh opened #152 "requests 2.7: body of response is not getting gunzipped"
I made a simple function that returns a page doctype. A test for that function works fine without vcrpy. It fails with vcrpy because a different doctype is returned.

This is the function inside `amzn.py` file:

    import requests
    from lxml import etree, html

    def get_doctype():
        r = requests.get('http://www.amazon.com')
        html_element = html.fromstring(r.text)
        tree =

[2015-05-06 05:21] kevin1024 commented on #152
well that's pretty weird.

[2015-05-06 05:25] kevin1024 commented on #152
Yup, I can reproduce.

[2015-05-06 05:42] kevin1024 commented on #152
Appears to be an incompatibility with the latest version of requests.  Downgrading to 2.2.1 works.

[2015-05-06 06:46] kevin1024 commented on #152
Yeah, the problem is that the body is not getting unzipped, so lxml goes all weird trying to parse it and sticks a weird doctype on there.

[2015-05-06 07:18] kevin1024 commented on #152
I think this only happens on servers that send `transfer-encoding: chunked`.

[2015-05-06 07:34] kevin1024 commented on #152
I think this is fixed in 5b9b6cd8b5d70262a82f4f6c600a7bb677c71f74

[2015-05-06 07:34] #152 closed

[2015-05-06 07:34] kevin1024 commented on #152
If Travis agrees I'll do a release.

[2015-05-06 10:51] klvbdmh commented on #152
Yep, that fixes it.

[2015-05-08 06:36] kevin1024 commented on #151
Definitely.  I think everything should be exactly the same except you can optionally omit the cassette name, and then it will be autogenerated.

[2015-05-08 06:59] kevin1024 commented on #131
@ram-z @paranoidi @fernandogrd well I tried a fresh checkout of Flexget on a digitalocean ubuntu droplet, in a fresh virtualenv, on ubuntu 14.04 LTS and iall the tests passed for me.  Not sure what's going on here.

If you open a python shell and just do:

what happens?  Do you get the ImportError?

[2015-05-08 07:09] kevin1024 commented on #131
Here is the list of commands I ran on the digitalocean droplet:

[code]

It ran a bunch of tests:

[code]

¯\_(ツ)_/¯

[2015-05-08 07:10] kevin1024 commented on #131
Any way this could be related to #153?

[2015-05-08 15:21] morganwahl commented on #131
I was getting a similar error message and isolated the problem like this:

[code]

[2015-05-08 19:47] fracmak commented on #131
Forcing six==1.6.0 fixed the problem for me.

[2015-05-10 06:14] #150 closed

[2015-05-10 10:23] #151 closed

[2015-05-10 10:27] IvanMalison commented on #151
@klvbdmh You should be able to do what you want now with this tiny bit of additional configuration:
[code]

[2015-05-10 10:30] IvanMalison commented on #151
@kevin1024 I should have held off on putting this in master until you got a chance to take a look at it. I'm pretty happy with how things turned out, but the code is definitely more complicated, and though this is completely backwards compatible, there are some pretty significant changes underneath the hood.

Let me know what you think.

[2015-05-11 04:50] IvanMalison commented on #139
This is probably too difficult to do and would probably make the tests brittle and hard to understand. : / I hate copy pasta, but sometimes its hard to get around it.

[2015-05-11 04:50] #139 closed

[2015-05-11 16:58] mikelloyd commented on #131
Fixed for me.

[2015-05-11 17:11] fracmak commented on #131
the problem is back for me, trying to narrow down whats causing it because it was working fine for me for a week then it broke

[2015-05-11 18:24] fracmak commented on #131
So I came up with a better solution than downgrading six. I was loading VCR in a django middleware. It appears django's version of six wins out in the sys.meta_path loader list, but for some reason it doesn't have the http_client in it's moved list. By importing vcr directly in the settings (and essentually doing nothing with it), it gets the right reference to http_client and everything is happy.

[2015-05-12 08:27] IvanMalison commented on #131
@fracmak I thought it had something to do with the meta path importer that is used.

Glad to hear you found a solution. Perhaps we should add something to the README about this?

[2015-05-22 20:15] joseluisrt commented on #131
I have exactly the same problem. Tried to downgrade to 1.6 but that did not solved the problem. In my case, the error is in rest_framework when it tries to import "from django.utils.six.moves.http_client import responses". Also tried to import rest_framework from settings.py but it did not solved the problem.

[2015-05-22 20:23] IvanMalison commented on #131
@joseluisrt Did you read/understand @fracmak's response?

[2015-05-22 22:42] joseluisrt commented on #131
I read @fracmak response, but maybe did not understand. I understood the solution was to import the library in settings. After reading again, I don't understand very well this part "It appears django's version of six wins out in the sys.meta_path loader list, but for some reason it doesn't have the http_client in it's moved list.". So I suppose that for me importing rest_framework in settings is n

[2015-05-23 00:06] IvanMalison commented on #131
Well its complicated because importing it there doesn't necessarily guarantee that the right meta path importer will win out. Have you taken a look at the meta path loader list at that point. If you edit it manually you can probably solve the problem

[2015-05-23 03:10] kevin1024 commented on #131
I think the best solution might be for VCR to stop using six.httpclient and just do our own fallback instead.  I don't think the implementation is very difficult.  Something like:

[code]

then just update our references from `six.moves.http_client` to `vcr.compat.http_client`.

Then we don't need to worry about the version of six or this metapath business.

[2015-05-23 18:05] IvanMalison commented on #131
@joseluisrt can you print out the value of sys.meta_path when you get this error?

[2015-05-24 23:16] joseluisrt commented on #131
@IvanMalison the value of sys.meta_path just before the error is:

[<eventlet.support.six._SixMetaPathImporter object at 0xb5ff2d6c>, <six._SixMetaPathImporter object at 0xb5ee972c>]

After seeing this, I thought the problem could be the library eventlet, so I uninstalled it, but the problem was still there. May this problem exist because I forgot some other dependency to install?

[2015-06-04 17:23] breerly commented on #120
@IvanMalison any plans to add it?

[2015-06-04 20:13] joseluisrt commented on #131
The problem I had was due to rest_framework, and the solution was to downgrade to the version 3.1.1.

Sorry for this "off-topic" issue, just in case somebody finds it useful https://github.com/tomchristie/django-rest-framework/issues/2969

Thanks for your help

[2015-06-04 22:18] IvanMalison commented on #120
Not really, but there could be. Have you looked in to how hard this is? It might be as simple as adding some some patches to the PatchBuilder class in patch.py, but it might involve doing some work with stubbing/HTTPConnection or possibly even more custom logic.

[2015-06-04 22:20] IvanMalison commented on #120
It looks like tornado's http uses its own IOStreamClasses for managing connections and stuff, so this could be a pretty involved change that might involve writing something like VCRConnection in the stubs file to patch these classes.

[2015-06-04 22:27] IvanMalison commented on #122
@breerly @phoet Given that thrift uses httplib vcrpy should already work if you are using that transport. As for getting socket support, that would basically require a massive rewrite of vcrpy that patches a layer lower than we are currently patching.

Vcrpy focuses on HTTP testing. I don't think tcp level testing is likely to be added any time soon (or ever).

[2015-06-05 00:24] breerly commented on #120
@abhinav @dilyandokov ^^

[2015-06-08 22:19] Diaoul commented on #140
I had the same issue, fixed it with my PR
@techtonik: can you confirm?

[2015-06-09 08:14] #140 closed

[2015-06-09 08:19] IvanMalison commented on #120
@kevin1024 I'm going to be doing this week. It is going to basically require doing something similar to what is done with the VCRConnection stub all over again but entirely separately for both

pycurl (to handle the CurlHTTPClient) and in tornados own http stuff to handle the SimpleHTTPClient, unless we patch at a very high level, but then possibly miss out on automatically headers/some other thin

[2015-06-09 08:56] IvanMalison opened #157 "Autodoc Sphinx Docs/Improve Docstrings"
We should start using sphinx.

[2015-06-09 09:00] techtonik commented on #140
@Diaoul Y-y-yes! This is fixed now. Waiting for release. =)

[2015-06-09 09:02] Diaoul commented on #140
Yep, me too.
@IvanMalison: do you plan on making a new release with this fix?

[2015-06-09 09:02] IvanMalison commented on #140
There will be a new vcrpy release by EOD PST this thursday that will also include a resolution to #120 . If you guys would like a release I could do a minor one right now.

[2015-06-09 09:07] Diaoul commented on #140
EOD is fine by me

[2015-06-09 09:08] Diaoul commented on #157
+1 for this, I was looking for the documentation link in the readme. Took me some time to figure out there is none :)

[2015-06-09 16:16] kevin1024 commented on #157
Yeah proper docs instead of a huge readme might be a good improvement.  It just kind of grew that way.

[2015-06-09 16:23] kevin1024 commented on #120
Wow ok.  Yeah sometime I fantasize about patching the socket and using a HTTP parser but that is a pretty big undertaking.

If you do add support for tornado I would obviously prefer that it works the same way as urllib2/requests - ie all features supported for all stubs.

I think the pycurl stub will be the most challenging.  Any idea how code reuse will work between the stubs?

[2015-06-09 17:43] IvanMalison commented on #120
Actually the pycurl stub looks to be the easier of the two from what I can tell. Obviously we will be able to reuse the cassette.py/config.py/patch.py code, but unfortunately, I'm not sure that much in stubs/ will be very useful for this (except insofar as it serves as a template for how to handle patching). :( This is the main downside to patching at the level that we do.

[2015-06-09 21:51] techtonik commented on #140
I already patched my local version, so I can wait.

[2015-06-24 13:05] MrJohz opened #158 ""TypeError: Can't convert 'bytes' object to str implicitly" whilst recording 'requests' session."
Specifically, whilst removing post parameters:

[code]

Example file that will fail:
[code]

Example console shell of previous file:
[code]

[2015-06-24 18:07] ialex opened #160 "Do you store your cassetes on Git/Mercurial? whats the best practice"
I wanted to know what you guys do if you store your cassetes on Git/Mercurial or is it better to let every dev to build their own cassetes when they run the test?

Does having them on a CVS helps the CI server or not?

[2015-06-25 04:35] IvanMalison commented on #160
The answer to this question probably depends a bit on your particular use case, but in general, I would say that it probably IS a good idea to store cassettes in version control. If you are worried about polluting the repository/git history you could store the cassettes in a separate module and either
a) use a submodule
b) have people manually clone the repository and put it in the right place

De

[2015-06-25 04:48] #160 closed

[2015-06-30 23:40] graingert commented on #147
you should use:

[code]

in the setup.py

[2015-07-01 00:32] IvanMalison commented on #147
ah nice didnt know that you could do that.

Why ':python_versioin<=3.3': ['mock'] ?

I just used mock in python 3.4

[code]

And things worked fine.

[2015-07-01 00:42] graingert commented on #147
You're supposed to use unittest.mock on python 3.3+

[2015-07-01 20:21] gward opened #163 "Sharing cassettes between Python 2 and 3 is tricky (when matching on body)"
I have a test that needs to match on the request body, because it sends a POST. This works fine in a pure Python 2 world, and it works fine in a pure Python 3 world. Things get tricky when you need the same code to work under both Python 2 and 3.

Specifically, if I first run my tests under Python 2, then my cassette files store bodies like this:
[code]

If I then run my test under Python 3, it fa

[2015-07-01 20:28] gward commented on #163
OK I've shrunk this down to a nice bite-sized test case. First, the service that I'm testing is `http://gerg.ca/echo.cgi`. Here's an example of the echo service in action:
[code]

And here is my client library and test all in one file (test_echo.py):
[code]

Failure example, running the tests first under Python 2 then under 3:
[code]

If I reverse the order, running first under Python 3, it works:

[2015-07-01 20:29] gward commented on #163
Please let me know if this should be a doc patch or a code fix. If doc patch, I'm happy to supply it. If code fix ... well, I'll give it a shot, but no promises. ;-)

[2015-07-01 20:38] IvanMalison commented on #163
Nice find. This is an issue with the serializer. I'm pretty sure that there is a way to fix this in code.

[2015-07-02 16:25] #147 closed

[2015-07-02 16:49] IvanMalison commented on #158
Closed by #159

[2015-07-02 16:49] #158 closed

[2015-07-02 22:35] Diaoul commented on #140
Just reinstalled everything and noticed this change didn't get released yet, can you make a new release?

Thanks

[2015-07-03 05:31] IvanMalison commented on #140
New release is coming Tonight or tomorrow.

[2015-07-03 17:01] #120 closed

[2015-07-04 01:31] Diaoul opened #166 "Error with body matcher for json, xmlrpc and form urlencoded"
This is a tricky issue I encountered when using the body matcher on xmlrpc requests.

Symptoms: Sometimes the request won't match, sometimes it will, and this only affects certain requests. This occurs on Python 3.4 and I believe other python 3 versions but not on 2.7

Cause: An XMLRPC request has a body with XML inside which is generated from the parameters passed to the function call. Some param

[2015-07-04 07:18] IvanMalison commented on #166
I mean you just need to write a custom matcher that does the right thing. This is expected behavior, not an issue with vcrpy.

Gzip compression is a feature that depends on the http request being made, and thus something we basically need to support. If you don't want your cassettes to be gzipped change you're request headers to prevent gzipping in your code.

You may want to look in
https://githu

[2015-07-04 09:34] Diaoul commented on #166
Yes, that's what I said, a proper matcher. I think as vcrpy supports xmlrpc it should come with an appropriate matcher. I'm working on it and will submit a PR.

Once done, this *must* be documented because the nature of this issue makes this hard to troubleshoot.

[2015-07-04 15:26] Diaoul commented on #166
The issue is the same with json and form urlencoded. I'm going to edit the PR accordingly and fix the body matcher instead of adding a new one. This will be based on the Content-Type.

[2015-07-04 16:36] Diaoul commented on #166
I plan to rename the current matcher `body` to `raw_body` and add a new `body` matcher that'll inspect the *Content-Type* header and do the following:
* `application/x-www-form-urlencoded` -> `parse_qs`
* `application/json` -> `json.loads`
* `text/xml` and `xmlrpc` in *User-Agent* -> `xmlrpc_client.loads`
* otherwise, same as `raw_body`

This gives the flexibility to use the same cassette for vari

[2015-07-04 17:06] IvanMalison commented on #166
yeah that is fine. If all of the tests pass, you might as well just make it the default body matcher.

[2015-07-04 17:21] kevin1024 commented on #166
Hmm, what happens when the server gzips the responses?  If we are going to inspect the content we will need to start gunzipping the body.

I usually agree that whenever something surprising happens in your library, it's a bug.  It would be nice for this to work, as long as it doesn't turn into a rabbit hole :)

[2015-07-04 17:24] kevin1024 commented on #166
BTW our querystring marcher handles the same problem, it will Urldecode and sort before comparing, so it seems like a good idea to make the body matched behave in the same way as Lon as we can make it robust enough.  For example, if a response has the wrong content-type and we try to deserialize it, how should we handle it?  I would like vcr to be as transparent as possible - ie don't blow up with

[2015-07-04 17:32] IvanMalison commented on #166
@kevin1024, gunzipping and then re gzipping it is not THAT hard. We can wrap it in a try except and fall back to raw_body matching as needed. Actually, I think we should eagerly try to raw_body match and only do the other stuff when that match is false, that way the matcher will be strictly more inclusive than the raw_body matcher.

[2015-07-04 17:41] kevin1024 commented on #166
That is a really cool idea!

I think I'm on board, just being a curmudgeon.

[2015-07-04 17:46] Diaoul commented on #166
Not a vcrpy expert but I could clearly see the request body (not gzip) even if the cassette showed gzip binary data so I believe gziping is done latter in the process. We only deal with uncompressed data here, at least in my use cases.

Comparing sorted `parse_qsl` results or directly `parse_qs` result is the same. I think the sorting part is not necessary and I went for the most straight forward

[2015-07-04 17:50] Diaoul commented on #166
`body` is not by default on the `matched_on` so if an error is thrown hopefully user will (re-)read the documentation and see that this one is content-typed based. Then he can switch to raw_body if desired.
I don't think errors should pass silently and that we should fallback in raw body comparison. This can result in inconsistent behavior where some requests get compared by content type and some

[2015-07-04 18:31] IvanMalison commented on #166
a) It's hard to imagine a scenario where raw_body would match but the content-type based approach would not, so I see no harm in doing that eagerly up front.
b) I don't think anyone suggested that errors should pass silently -- I was merely suggesting that if we had to deal with the fact that requests are gzipped we could try unzip and continue without unzipping in that case

Are you sure about th

[2015-07-04 19:06] kevin1024 commented on #166
Vcr is definitely not doing any zipping or unzipping.  Pretty sure that is handled by the http library making the call (eg requests or urllib2) .  The zipped http response content is stored in the cassette and passed, still zipped, through to the http library doing the request.

[2015-07-04 19:09] IvanMalison commented on #166
Yeah this is what I thought. However, since we are on the request side of things in this case, I think it might be possible that @Diaoul is right that the body might not be gzipped if the gzipping happens after we pass the request off to whatever http library is doing it. I think we should definitely still try to figure out what is going on there though so we don't run in to problems later.

[2015-07-05 21:24] ialex opened #169 "Upgrading to 1.6.0 seems conditional extra_require are not working on setup"
I receive this error when i upgraded to 1.6.0:
[code]

Looking at the commits i think this new conditionals imports are not working https://github.com/kevin1024/vcrpy/commit/41949f7dc64a2ddb8a9c2cb845eac7bb8b94380b#diff-2eeaed663bd0d25b7e608891384b7298R36 i'm installing the package using pip im on python 2.7.

[2015-07-05 22:46] kevin1024 commented on #169
Hmm, what version of pip are you running?  `pip -V`

I wonder if the conditional imports are a new feature.

[2015-07-06 12:43] ialex commented on #169
pip 1.5.4 from /usr/lib/python2.7/dist-packages (python 2.7)

[2015-07-06 16:55] breerly commented on #122
I've tested that this does work when using Thrift's HTTP transport.

[2015-07-06 16:55] #122 closed

[2015-07-06 23:46] IvanMalison commented on #169
hmm wouldn't it be the version of setup_tools that he has that matters? I guess it could be a pip thing, but setup_tools seems more likely.

[2015-07-06 23:50] IvanMalison commented on #169
@ialex you can run `python -c 'from setuptools.version import __version__ as version; print(version)'` to check on this

[2015-07-06 23:51] IvanMalison commented on #169
@kevin1024 this raises the question: Do we want to depend on new features in setuptools?

[2015-07-07 06:38] kevin1024 commented on #169
Ah yeah probably a setuptools version.

We probably want this to work on old versions of setuptools.  A lot of people don't have much control over their environment (yum install setuptools on RHEL5 installs some ancient version) and I don't want there to be any pain getting vcrpy installed.

[2015-07-07 08:10] IvanMalison commented on #169
hmmm so you want to revert @graingert 's change in 41949f7dc64a2ddb8a9c2cb845eac7bb8b94380b?
I can see your reasoning. Maybe he can chime in on this?

[2015-07-07 08:14] graingert commented on #169
This probably needs an "if setuptools.version < version_to_support_conditional:" that hacks it straight into the requirements

[2015-07-07 08:20] IvanMalison commented on #169
@graingert I was hoping it wouldn't come to that, but I guess thats the situation we're in. Care to make the PR?

[2015-07-07 09:31] graingert commented on #169
Looks like the functionality has been there forever https://bitbucket.org/pypa/setuptools/commits/1492#chg-setuptools/tests/test_dist_info.py

[2015-07-07 09:37] graingert commented on #169
ah it's the old version of pip that's the problem

[2015-07-07 12:38] ialex commented on #169
FYI
[code]

[2015-07-07 12:39] graingert commented on #169
try creating a virtualenv, installing the latest pip, and then installing vcrpy.

[2015-07-07 23:07] ialex commented on #169
On a new virtualenv and upgrading pip to => Successfully installed pip-7.1.0 it does install mock and contextlib2 properly, the questions is if the library should support old pip versions?.

[code]

[2015-07-07 23:08] IvanMalison commented on #169
@graingert has a pr (#170) out to fix this

[2015-07-08 12:55] ialex commented on #169
Cool thanks every one for their support im going to close this issue.

[2015-07-08 12:55] #169 closed

[2015-07-09 12:46] ldath commented on #169
Please create new version and upload it to pypi.

[2015-07-09 14:08] graingert commented on #169
@ldath just run "pip install -U pip setuptools wheel" before installing any packages

[2015-07-10 08:34] ldath commented on #169
This is not a problem for me ;) - I solved this moment after 1.6.0 shows - but human attention was needed to solve unexpected failing tests in jenkins. Maybe now I explained a little why after this kind of bug new version is needed in pypi.

[2015-07-10 19:52] IvanMalison commented on #169
sorry this caused an issue for you @ldath . You might want to think about pinning to a particular vcrpy version in your requirements so that we can't break your tests by putting out a new version. I'll do a version bump/release this weekend.

[2015-07-13 08:43] ldath commented on #169
I'm always pinning to particular version in the staging and production environments. Only in the development environment not. Anyway case closed.

[2015-07-13 09:33] graingert commented on #163
you can use "https://httpbin.org/post" as a public echo service in tests.

[2015-07-14 20:56] gward commented on #163
I'm working on a fix for this bug.

[2015-07-14 21:05] IvanMalison commented on #163
@gward Cool. thanks for the update!

[2015-07-14 21:40] gward commented on #163
I think https://github.com/kevin1024/vcrpy/pull/171 will do the trick.

[2015-07-15 07:11] #166 closed

[2015-07-15 08:37] Diaoul commented on #166
Awesome, thanks!

[2015-07-15 08:39] IvanMalison commented on #166
@Diaoul I moved some stuff around, so let me know if it doesn't suit your needs. Passes all of the original tests though so I think it should work.

[2015-07-15 08:52] Diaoul commented on #166
Nice changes

[2015-07-16 16:08] graingert opened #174 "mutating requests in before_record_request mutates the actual request returned to the code"

[2015-07-16 17:30] kevin1024 commented on #174
Does it also affect the request sent to the server?  Should only affect the response that is recorded.

Do you mean if you grab the cassette?  `with vcr.use_cassett('foo.yml') as cass` and then do `cass.request`?

[2015-07-16 17:33] graingert commented on #174
Yes it effects the  request to the server. You're missing a deepcopy

[2015-07-16 20:34] gward commented on #163
Nope. I closed that one and opened #175 instead.

[2015-07-16 21:17] IvanMalison commented on #174
This is by design. I'm pretty sure that @kevin1024 is correct that before_record_request is only applied after the real request is made (https://gist.github.com/99942d7e60364ae3c11a the call to append is where before_record_request happens).

What IS true is that if you were to pass a body object to a some library and then mutate that object in before_record_request, it would come back as mutated

[2015-07-16 21:20] graingert commented on #174
Yes that's what I mean

[2015-07-26 09:40] #163 closed

[2015-07-29 12:10] charlax opened #177 "use_cassette is not active for the duration of the generator/coroutine it decorates"
When using Tornado's async client, `use_cassette` will not work when used as a decorator. It will only work if used as a context manager.

I'll write some code to reproduce the bug a bit later, but wanted to flag it now.

cc @abhinav

[2015-07-29 12:46] charlax opened #178 "AttributeError: 'module' object has no attribute 'evaluate_marker'"
I'm getting the following when trying to install `vcrpy`:

[code]

[2015-07-29 13:26] charlax commented on #178
This happens when using `distribute-0.6.34-py2.7.egg`, which is pretty old.

[2015-07-29 17:38] IvanMalison commented on #178
@graingert Wrote this. Is there any reason you can't upgrade?

[2015-07-29 17:45] graingert commented on #178
https://pythonhosted.org/distribute/

[2015-07-30 06:22] #178 closed

[2015-07-30 08:51] IvanMalison commented on #177
It's not so much an issue with tornado's async client as it is an issues with the way generators/coroutines are handled. I've retitled this to indicate that.

[2015-07-30 08:52] #177 closed

[2015-07-30 08:56] IvanMalison commented on #177
@abhinav @charlax @kevin1024 @graingert

I've put a fix for this in master in 21c176e, but it would be great if any of you could take a look at what I've done. I tried to support coroutines (in addition to generators) but this stuff is tricky business, and it is entirely possible that I didn't properly think about some edge case.

The most critical part of this change is here: https://github.com/k

[2015-07-30 08:58] IvanMalison commented on #174
@graingert I'd welcome a fix that does a deepcopy if that is what you want. I'm probably going to do a release tomorrow after I've given people some time to look at what I did for #177. LMK if you want this to make it in to that...

[2015-07-30 09:13] IvanMalison commented on #177
@kevin1024 Sorry about the failing build... I should have run the tests locally before pushing. Fix on the way.

[2015-07-30 12:23] charlax commented on #177
I've verified that this is working on my test. Thanks a lot!

When the remote server is not running though, I get the following exception instead of an HTTP error:

[code]

[2015-07-30 12:40] IvanMalison commented on #177
But the response actually has a body?

[2015-07-30 12:40] IvanMalison commented on #177
can you post the generated cassette? and or a simple repro?

[2015-08-02 13:54] yarikoptic opened #182 "improve docstrings documentation"
ATM it is really needed to RTFM to orient withing VCR and use of its methods.
[code]

It would be nice if docstrings with description of parameters were provided at least for the most commonly used constructs.  Additional benefit could be example code snippets to be used as doctests

[2015-08-02 17:31] IvanMalison commented on #182
Yeah this would be fixed with inline sphinx docs. There is already a ticket for this #157

[2015-08-02 17:31] #182 closed

[2015-08-02 17:42] yarikoptic commented on #182
I guess I should refresh myself with what sphinx  has to offer,  but afaik  it was the other way around that sphinx could use docstrings,  not the other way around  :-)  anyway good to see that you are thinking about docs improvement
 cheers

[2015-08-02 17:47] IvanMalison commented on #182
@yarikoptic no that is the way that sphinx works, but when I made that ticket it was with the intention that the sphinx 'docs' would actually be written inline as code comments.

[2015-08-02 17:49] IvanMalison commented on #182
I've updated the comments to reflect my intentions

[2015-08-02 20:28] IvanMalison commented on #174
I actually don't think that this is an issue...
request copies headers, and the body is required to be a string by the point it gets there. Since it doesn't modify the request it makes to the server I don't see where there is a problem here.

[2015-08-02 22:10] graingert commented on #174
This definitely caught me out. Perhaps an immutable dict or namedtuple would be better than deep copy?

[2015-08-10 07:34] techtonik commented on #140
Looks like it is released.

[2015-08-10 08:16] IvanMalison commented on #140
Yep it is. Enjoy!

[2015-08-12 13:49] Sjord opened #183 "Exception when using vcr with Tornado coroutines"
When using VCR with the AsyncHTTPClient in a Tornado coroutine, I get an exception when creating the AsyncHTTPClient instance. Here is a short script to reproduce this:

[code]

It gives the following exception:
[code]

[2015-08-12 14:35] mvschaik commented on #183
More minimal example:
[code]

Same crash...

[2015-08-12 14:42] mvschaik commented on #183
Just found out that the way of importing matters. This doesn't crash:

[code]

[2015-08-12 17:11] IvanMalison commented on #183
Yeah I mean that makes sense.  What is happening is that 'AsyncHTTPClient' is being patched in the
`tornado.httpclient` module, but you are importing that name directly which is putting it in your own module, and that is not being patched.

This is sort of an inherent problem with patching at this layer. @abhinav thoughts. we could move the patching?

[2015-08-12 17:17] abhinav commented on #183
We could change it to patch the `fetch_impl` methods directly on the classes instead of replacing the classes at the module level. This would make make it also patch instances that already existed when entering the VCR context.

[2015-08-12 17:20] kevin1024 commented on #183
Yeah, I guess this isn't usually a problem since people don't normal use httplib directly, but people do directly use the tornado httpclient.

[2015-08-12 17:39] abhinav commented on #183
Cool. I've got a fix incoming. Just a sec.

[2015-08-12 19:16] #183 closed

[2015-08-12 19:32] mvschaik commented on #183
Thanks for the fast response!!

[2015-08-13 16:26] gward opened #185 "UnicodeEncodeError under Python 3 if request body contains URL-encoded non-ASCII chars"
If all of the following are true:
- Python 3
- `match_on` contains `body`
- request body is URL-encoded non-ASCII string
- attempting to replay a previously recorded cassette

then VCR.py blows up with "UnicodeEncodeError: 'ascii' codec can't encode character '\xe9' in position 0: ordinal not in range(128)" (full stack trace below).

Here's a demo script:

[code]

This works fine under Python 2, b

[2015-08-13 16:27] gward commented on #185
Just to make sure I didn't break things when I fixed #163, I tried my script under VCR.py v1.6.1. Same result.

[2015-08-13 19:39] IvanMalison commented on #185
Hah wow. nice edge case. How do you keep hitting these?
This makes sense. It's because request matching would only happen the second time anyway. My guess is that we need to explicity decode the string from utf-8

[2015-08-13 21:47] IvanMalison commented on #177
@charlax so if I understand correctly, the issue is that if you run a test that does not have an existing cassette and you try to record, you get this error instead of an http error?

Can you make a separate github issue for this and cc @abhinav .

[2015-08-18 15:55] charlax commented on #177
Yes that's correct. Pretty sure I wasn't getting this with the other way though (using a context manager).

[2015-08-18 19:34] gward commented on #185
Just lucky, I guess! ;-)

But seriously: we have a collection of existing HTTP client libraries that work under Python 2, so I've been doing the initial conversion to VCR.py (either write tests from scratch or convert existing tests) under Python 2. Also we frequently use POST to send large queries, so we need to match on request bodies. And since we now need to support Python 3, I'm adding tests

[2015-08-21 06:50] IvanMalison opened #188 "additional_matchers kwarg on use_cassette"
There should be an easy way to specify that additional matcher should be used for a particular cassette. It is currently possible to specify that additional matcher should be used using the match_on keyword argument, but it is necessary to specify all the matchers that should be used

[2015-08-21 16:44] kevin1024 commented on #188
Yeah good point, I see the use case.
On Thu, Aug 20, 2015 at 8:50 PM IvanMalison <notifications@github.com>
wrote:

[2015-08-21 16:58] Diaoul opened #189 "Environment variable configuration"
It would be nice to be able to specify a global `record_once` from environment variable. Something like `VCRPY_RECORD_ONCE` is unique enough not to conflict with anything.

Would you consider this feature?

[2015-08-21 17:05] kevin1024 commented on #189
How about something like this:

[code]

[2015-08-21 17:11] Diaoul commented on #189
I know I can do it in my code, I just believe this could be a nice feature and would integrate well with Travis for example without extra code.

[2015-08-21 17:17] Diaoul commented on #189
But then the question is if we do it for record_once why not for other configuration options? That's why I opened the discussion on this feature.

[2015-08-23 02:00] #188 closed

[2015-08-27 22:26] agriffis opened #199 "path_transformer doesn't default properly"
In the code, we have

[code]

and then later

[code]

and then later

[code]

So there are two problems with this code:
  1. The default `ensure_suffix` doesn't fire because the parameter default is already the identity function which is truthy. The only way this fires is if the user specifies `path_transformer=None` which is surely not the intent.
  2. If the context manager is called with `path_

[2015-08-27 23:07] IvanMalison commented on #199
yeah i think you can just remove the path_transformer default and check for None or dfeault to identity it build merged config

[2015-08-28 11:55] #199 closed

[2015-08-28 16:01] IvanMalison opened #202 "README for test_class attribute of VCR"

[2015-08-31 16:47] agriffis opened #204 "gitter room needs repo integration"
This is for @kevin1024 who is the only one with permissions.

How about adding repo integration to https://gitter.im/kevin1024/vcrpy ?  Click the tools button at the top right of the chat window, go through the oauth sequence, etc.  The default list of notifications is fine.

I had temporarily added vcrpy-unittest notifications to the room but they don't call out the repo name in the notification

[2015-09-01 20:40] dan-passaro opened #205 "Don't save requests from decorated tests if decorated test fails"
As the title says: Don't save requests from decorated tests if decorated test fails

Does VCR already do this? If so awesome, and you guys should definitely say so in the README somewhere. Otherwise this seems like a solid feature. We have one test in particular where our 3rd party goes down more often than I'd care to admit, and if that bad response gets saved that will be quite aggravating.

[2015-09-02 05:41] IvanMalison commented on #205
Are you not tracking your http requests with source control? Should be easy enough to revert to an old version if you are...

[2015-09-03 19:10] dan-passaro commented on #205
I'm not version controlling the requests, no. I assume you're talking about the actual vcr cassette file.

I'm not saying vcr should catch exceptions, but that it should *not* save the cassette file if an exception is raised, e.g.

[code]

This is only assuming that `vcr` would currently write a cassette file even if a test fails, which I am not sure is true yet as I haven't tested. Luckily our te

[2015-09-03 19:14] dan-passaro commented on #205
I suppose this is too harsh of a generalization if other users have more reliable 3rd parties and want to do TDD against saved cassettes. In my case it's that sometimes the request itself fails, although the test and code under test have not changed in a long time, so we get spurious failures in our build. Currently vcr is doing a good job at getting more consistent green dots out of our CI system

[2015-09-03 19:18] kevin1024 commented on #205
Hmm, interesting idea.  I think this would involve some deeper integration with the testing framework than we currently do.  You could probably get something going like this in your testing framework's setup/teardown methods.  Flag test failures and blow away the cassette file for that failure or something.  VCR doesn't really know that it's executing inside a test or anything, so it can't know if

[2015-09-03 19:31] dan-passaro commented on #205
I don't think it's too complex and I would be surprised if I'm the only one with this use case. Showing that the decorator doesn't need to know it's running a test:

[code]

Saving this as `test_thing.py` enables this shell session:

[code]

You can see the message successfully prints as expected, so I don't think this has to be written in a unittest-specific way.

[2015-09-08 21:35] danstender commented on #142
Just wanted to drop the note that we would appreciate it much for the Debian package [1] if the tests could run offline. Pytest-httpbin packaging is in progress.

[1] https://packages.qa.debian.org/v/vcr.py.html

[2015-09-08 23:05] kevin1024 commented on #142
Cool!  Yeah, I've been super busy lately but if I ever get a free weekend I definitely want to finish this up.

[2015-09-09 01:00] agriffis commented on #204
Thanks @kevin1024 !

[2015-09-09 01:00] #204 closed

[2015-09-09 15:15] IvanMalison opened #207 "Document inject_cassette"

[2015-09-13 01:02] IvanMalison opened #208 "'rerecord' mode that essentially ignores the recorded cassette"
Is there a reason that this mode doesn't exist? Perhaps because you can simply delete the existing cassette and rerecord?

[2015-09-13 01:13] kevin1024 commented on #208
IIRC I pretty much just ripped off the modes from Ruby VCR.  That said, no reason we can't add more if there's demand.

[2015-09-13 14:53] omerbenamram opened #209 "Support aiohttp"
Hi,

I love vcrpy!
now that tornado support is included, any chance of supporting aiohttp anytime soon?

Cheers

[2015-09-13 16:47] IvanMalison commented on #209
No plans to add it currently but it looks straightforward enough to do

[2015-09-20 07:56] IvanMalison opened #210 "More complete proxying implementation for setting attributes on connection object"

[2015-09-21 20:56] yarikoptic opened #211 "way to request/record only headers"
I am blindly (since use_cassette's docstring doesn't describe **kwargs) using ```vcr.use_cassette``` to decorate a unittest for a connection via urllib2.Request were I am interested only in the .info() to e.g. see if 'Content-Disposition' is provided.  If ran without vcr decoration, test barely consume any bandwidth since doesn't request actual load, while vcr seems to proxy/store the entirety of

[2015-09-23 13:23] mgeisler opened #212 "force_reset makes vcr non thread-safe"
I tried to use vcr to write tests for an old program that uses threadpools internally. It turned out that this doesn't work and I believe it's due to the use of `force_reset` when the unpatched base classes are instantiated. The reset is necessary since `httplib.HTTPSConnection` refers to `httplib.HTTPConnection` by name.

The following program shows unexpected errors on my machine:

[code]

The e

[2015-09-23 13:24] mgeisler commented on #212
I have a Python 2-only solution for this that I'll post next.

[2015-09-29 14:37] yarikoptic opened #214 "fails when working through proxy (as instructed by http_proxy env var): invalid literal for int() with base 10: '3128http'"
as of 1.6.1 (as in Debian)

[code]

[2015-10-01 03:46] yarikoptic opened #215 "make robust to having older requests available"
Currently on jessie (with requests 2.4.3) if vcr.py (1.7.3) is installed via pip use of `vcr.use_cassette` would fail with
[code]
even if I don't actually care/use requests.

[2015-10-06 18:18] raff opened #218 "Upload-like requests where body.read() doesn't return the full file (i.e. it returns small buffers) hang VCRpy"
If the request "body" is a file-like object where body.read() doesn't return the full file (i.e. I am testing a proxy where "body" is actually a socket that reads from the client and body.read() return fixed length buffers), the request hangs when running through VCRpy.

The problem is here (vcrpy/request.py: **init**):

[code]

where you do a single read. The request to the real server probably h

[2015-10-07 00:55] IvanMalison commented on #218
This is implemented in the way that it is to avoid having something like that, because such a thing can not be read from twice, and vcrpy must be able to read the body multiple times.

Your suggestion is probably the correct behavior, although this could result in a lot of data being loaded into memory.

[2015-10-07 00:57] raff commented on #218
Yes, but it would be exactly the same amount of data read from a real file of the same total size. Thanks!

[2015-10-07 20:38] raff opened #219 "The @use_cassette() decorator make methods always return None"
For regular tests, this works fine:

@vcr.use_cassette
def test_something(self):
   # run test
   pass

But when trying to use the decorator like this:

@vcr.use_cassette
def test_with_return(self):
   # do something
   return 42

calling the decorated method always return None, while it should be returning the method result.

[2015-10-07 21:04] IvanMalison commented on #219
This has already been fixed in https://github.com/kevin1024/vcrpy/pull/217, but it hasn't yet made it in to a release.

I'll make a new one now so you can get the update.

[2015-10-07 21:04] #219 closed

[2015-10-12 21:35] fxfitz opened #220 "VCR Not Sending Client Certificate when wrapping Requests"
When using VCR and attempting to send a client certificate to a webserver (as seen below), VCR does not include the certificate in the packets being sent out.

This can be confirmed by looking at a Wireshark capture ([screenshot](https://cloud.githubusercontent.com/assets/6355826/10439314/bc39db6e-70fe-11e5-9cef-7f53a95fe500.png)).  When the client presents the certificate, you can see the 'Certif

[2015-10-13 09:22] aliaksandrb opened #221 "Dependencies problems with Python2.7 and virtualenv"
Hi!
I have faced strange dependency issue while using this library with a `tox` for testing on various Python versions.
After an investigation here are simplified steps for reproducing:

[code]
To fix it I needed to manually install the `mock` and `contextlib2` packages, only after it import is working fine.
Seems that it is somehow related to extra dependency management done in the `setup.py` fil

[2015-10-13 09:58] aliaksandrb opened #222 "Serialization errors with JSON adapter and Python3.4"
Hi!

Assume we have `vcr` configured with `json` adapter:

[code]

and a simple method posting some data:

[code]

Then the wrapped test method fails while trying to dump the request-response into json file:

[code]

Error outputs is reduced:

[code]

As I understand the problem occurs because `vcr` doesn't try to encode `request` body a counterweight to `response`.
And because in Python2.7 `body`

[2015-10-13 17:44] IvanMalison commented on #221
Try running the tests with tox, which will handle the installation of all of the dependencies and the creation of the virtual machine for yu

[2015-10-13 21:45] aliaksandrb commented on #221
@IvanMalison actually until I haven't mentioned both those dependencies in my `setup.py` and `requirements.txt` for `tox` it had failed for me.

But I have rechecked simplified example above on empty Vagrant box for **system** python, seems that dependencies are resolved correctly there..
:confused:

[2015-10-14 19:31] melinath commented on #214
I just ran into this as well. Proxy is broken on vcr.

[2015-10-14 19:35] melinath commented on #214
Side note: even if it were working, the stored version seems to be stored under a url that doesn't include the proxy information, which will probably make them not match.

[code]

[2015-10-18 21:17] dopplershift commented on #219
Any word on this release? I've got test failures induced by this and I'm trying to figure out what to do about it...

[2015-10-18 23:51] IvanMalison commented on #219
Sorry that took so long. New release (1.7.4) with a fix is out.

[2015-10-19 00:02] IvanMalison commented on #221
Okay, I'm going to close this issue in that case

[2015-10-19 00:02] #221 closed

[2015-10-19 00:06] IvanMalison commented on #220
Seems likely that this is because we only forward certain values explicitly to the actual connection.

https://github.com/kevin1024/vcrpy/blob/2ac3fa9abe194141346806ced56b5e399ae96ec9/vcr/stubs/__init__.py#L176
https://github.com/kevin1024/vcrpy/blob/2ac3fa9abe194141346806ced56b5e399ae96ec9/vcr/stubs/__init__.py#L251

We probably need to store the data coming in as args, kwargs there and pass it o

[2015-10-19 13:58] dopplershift commented on #219
No worries, thanks for maintaining such an awesome package.

[2015-10-21 06:04] IvanMalison commented on #211
you could use a fitlter function to delete the request/response body, i suppose.

[2015-10-22 21:46] nathancahill commented on #143
I'm curious why a format like JSON or YAML is needed for cassettes? Couldn't it just work with raw HTTP? (since it's essentially just: body, headers, status)

[2015-10-22 23:41] IvanMalison commented on #143
a) Most http libaries don't expose the http request as plaintext
b) we support a lot of features that let you mutate the request that require representations that aren't meremly string representations
c) serialization is format agnostic so you could easily serialize to an actual HTTP request body if you wanted

[2015-10-22 23:42] nathancahill commented on #143
Makes a lot of sense. Thanks for the reply!

[2015-10-23 04:54] techtonik commented on #143
Perhaps this can help both with validation and with migration/export/import of data structure https://pypi.python.org/pypi/trafaret

[2015-10-29 00:26] twolfson opened #224 "Using `vcrpy` as a dynamic callback on `HTTPretty`"
In Node.js, I have written and used 2 libraries for HTTP mocking/playback: [`fixed-server`](https://github.com/uber/fixed-server) and [`eight-track`](https://github.com/uber/eight-track) (currently actually [`spy-server`](https://github.com/underdogio/spy-server)/[`nine-track`](https://github.com/twolfson/nine-track)). The gist is `fixed-server` handles routing to determine whether to use a static

[2015-10-29 00:27] twolfson commented on #224
I should also mention that we saw #8 but didn't feel as though it lined up with what we were trying to accomplish.

[2015-10-29 00:28] twolfson commented on #8
As a heads up, we took a different approach and made a `vcrpy`-based dynamic callback to use on HTTPretty in #224.

[2015-11-06 20:45] yarikoptic opened #225 "1.7.3 fails sporadically while decorating a unittest which uses boto for S3"
It happens more often than it doesn't happen but I haven't spotted a pattern: I hoped that I could vcr a test for my new ugly duckling (entire notebook is at http://nbviewer.ipython.org/url/www.onerussian.com/tmp/demo_vcr_boto_failure.ipynb -- just plug in your credentials)
where @vcr.use_cassete() fails with
[code]
First time I saw it I guessed that something in request has changed, but then when

[2015-11-07 22:38] IvanMalison commented on #224
This is pretty interesting. Would there be some way to easily route ALL requests through vcrpy?

[2015-11-07 23:15] twolfson commented on #224
Yea, `httpretty` uses regular expressions for its routes. As a result, we could use `r'*'` (at least in theory) to route all traffic via `vcrpy`. We also would need to iterate over all the HTTP verbs but those are listed here:

https://github.com/gabrielfalcao/HTTPretty/blob/a615e3e5a6cf57cdcc6a21c8b78120ca3ede241e/httpretty/http.py#L121

I do something similar as a catch-all endpoint in `fixed-se

[2015-11-07 23:59] agriffis commented on #224
This would be awesome. What turned me away from `httpretty` is needing to build responses in advance rather than being able to record and replay. (I'd also love to see #8 implemented, but that seems a longer way off.)

[2015-11-16 12:13] chekunkov opened #227 "VCR.py doesn't work well with subclasses of HTTPSConnection"
Project I'm working on uses [chargebee python client](https://github.com/chargebee/chargebee-python). I decided to give VCR.py a try and instantly got this exception:

[code]

By searching issues I've found the same exception in https://github.com/kevin1024/vcrpy/issues/183, but not sure if it's because of the same reason, hope someone more familiar with VCR.py code can tell how to fix that.

`Ver

[2015-11-24 15:09] danstender commented on #142
Welcome pytest-httpbin to Debian: https://tracker.debian.org/pkg/pytest-httpbin

[2015-11-24 20:14] #215 closed

[2015-11-24 20:20] agriffis commented on #227
Thanks for the bug report. The maintainers are pretty swamped at the moment but we'd be very interested in a PR to fix this! Otherwise we'll get to it eventually, but it might be a while.

[2015-11-24 20:22] agriffis commented on #225
@yarikoptic Did you figure out anything more about this?

[2015-11-24 22:32] agriffis commented on #222
Thanks for the bug report! We'd definitely appreciate a PR for this, especially with tests for the JSON serializer.

[2015-11-24 22:36] agriffis commented on #220
@fxfitz You didn't happen to investigate this any further, did you?

[2015-11-24 22:37] fxfitz commented on #220
Sadly, no, I haven't.

[2015-11-24 22:38] agriffis commented on #208
Doesn't `all` already do this? https://vcrpy.readthedocs.org/en/latest/usage.html#all

[2015-11-24 22:39] agriffis commented on #214
@yarikoptic @melinath Did either of you look into how to fix this? Want to make a PR?

[2015-11-24 22:45] agriffis commented on #211
[code]

or something close to that. You could also use a more complex function to decide whether or not to kill the body string.

[2015-11-24 22:45] #211 closed

[2015-11-24 22:49] agriffis commented on #205
@dan-passaro If you'd like to put together a PR for this, I'm sure we'd appreciate it!

[2015-11-24 23:30] yarikoptic commented on #211
Thanks!   FWIW -- verified that works for me. CheerS!

[2015-11-25 00:51] yarikoptic commented on #214
If I did, I would have sent a PR I think... Since there is none, I guess I have just decided to whine instead ;-)

[2015-11-25 01:56] IvanMalison commented on #208
@agriffis not exactly. I think `all` will append to the existing cassette instead of completely rewriting it. I might be wrong about that.

[2015-11-25 02:39] agriffis commented on #208
Nah, `all` is "Never replay previously recorded interactions. This can be temporarily used to force VCR to re-record a cassette"

The mode you're thinking of is `new_episodes`

Pretty sure that `all` is the same as `rerecord`

[2015-11-25 07:20] IvanMalison commented on #208
From what I can tell from reading the code, the only place where all has a *different* effect than new_episodes is

https://github.com/kevin1024/vcrpy/blob/8a5bf23d3448892ea10a29b5392927d0a8784271/vcr/cassette.py#L273

Given that new episodes DOES preserve existing records, I'm not sure how it would be possible for all mode NOT to preserve existing records.

In fact, there does not seem to be anyt

[2015-11-25 14:48] agriffis commented on #208
Ugh, you're right, `all` doesn't behave like I thought. It appends to the cassette, even though the doc implies that it should be overwriting.

And that sucks about using any string, because it means a misspelling will be interpreted as `new_episodes`. It should be a strict validation and raise `ValueError` if not recognized.

[2015-11-25 14:58] IvanMalison commented on #208
As such, do you think we should consider this a bug? Is the current functionality of 'all' something someone could conceivably want? @kevin1024 I'd like to hear your thoughts too.

Yeah this is definitely something that I'd like to change as well.

[2015-11-25 15:08] kevin1024 commented on #208
:+1: Yes, this should be strictly validated

I ripped off all the record modes from ruby vcr.  Here's what it says about the [all record mode](https://www.relishapp.com/vcr/vcr/v/1-3-2/docs/record-modes/all-record-mode):

So it sounds like it should be overwriting old requests that match.  But what does it do to the requests already in the cassette that don't match?  Are they effectively deleted?

[2015-12-01 18:10] tobiowo opened #230 "Add decode_compressed_response VCR option"
The Ruby version of VCR supports a [decode_compressed_response](https://www.relishapp.com/vcr/vcr/v/2-9-3/docs/cassettes/decode-compressed-response) option that decompresses response bodies encoded with gzip or deflate before recording and makes cassettes human-readable/editable. This could be implemented in vcrpy as a before_record_response function using zlib.

[2015-12-01 18:52] IvanMalison commented on #230
seems like a good idea pr?

[2015-12-01 18:55] kevin1024 commented on #230
:+1: sounds useful to me. Would merge a pull request for this.

[2015-12-01 19:41] agriffis commented on #230
I have this in vcrpy-facebook if you'd like to pull from that code. https://github.com/agriffis/vcrpy-facebook/blob/master/vcr_facebook/response.py#L50

[2015-12-02 10:43] dz0ny opened #231 "Decoding json body fails on DELETE request"
When `DELETE /some/uri` and response header contains `Content-Type: [application/json]` the response handler will try to decode empty body.

quick fix

[code]

But this should be handled for other "transformers" as well, so maybe check for empty body in body method.

[2015-12-02 15:08] yarikoptic opened #233 "improve documentation/checks -- e.g. can supply bogus record_mode"
I didn't find anywhere clear description of which record_mode's are supported. Moreover, providing some bogus value "worked" just fine (I guess as in 'all' mode)

[2015-12-02 15:09] yarikoptic commented on #233
sorry, actually worked as 'once' ;-)

[2015-12-02 15:32] IvanMalison commented on #233
see #208 . This is a known issue but we plan to fix it.

[2015-12-05 18:59] simon-weber opened #235 "tornado support crashes when used with older versions"
[This line](https://github.com/kevin1024/vcrpy/blob/327797c4ff2dac52bc35cc7cca38439ea2453fea/vcr/stubs/tornado_stubs.py#L26) will raise an exception on tornado versions < 4 since the body_producer argument doesn't exist.

I'd also recommend a major version increment. Lots of our tests broke when upgrading because we assumed tornado wouldn't be intercepted :grin:

[2015-12-05 19:15] simon-weber commented on #235
xref https://github.com/kevin1024/vcrpy/pull/164 and https://github.com/kevin1024/vcrpy/pull/165, which introduced the tornado support.

[2015-12-05 19:27] kevin1024 commented on #235
Oops, good point.  The fix for #208 might also be backwards-incompatible so we might do a major version bump anyway.

[2015-12-06 00:08] kevin1024 commented on #95
Closing due to inactivity but please reopen if it's still an issue.

[2015-12-06 00:08] #95 closed

[2015-12-06 00:09] kevin1024 commented on #157
We have docs now! https://vcrpy.readthedocs.org/en/latest/

[2015-12-06 00:09] #157 closed

[2015-12-06 00:16] kevin1024 commented on #225
@yarikoptic looks like your link to the failure isn't working:
<img width="779" alt="screen shot 2015-12-05 at 2 15 24 pm" src="https://cloud.githubusercontent.com/assets/21099/11610989/ad3b4806-9b5a-11e5-8fa2-97b0d95965ed.png">

You want to make 100% sure that the request you are sending matches the previous request recorded in the cassette - there might be some kind of timestamp header in there

[2015-12-06 00:16] #225 closed

[2015-12-06 00:24] kevin1024 commented on #220
I'd like to write a test for this, but since this happens at the protocol layer I'm not sure how to assert that the certificate is included.

[2015-12-06 01:28] kevin1024 commented on #220
The SSL also changed in py2.7+ to use SSLContext instead of as args to the HTTPConnection object.  So this might be version-dependent.

[2015-12-21 14:39] abompard opened #241 "With Python 3, the body of POST requests is base64-encoded"
As a consequence of commit 09b7ccf (more precisely, of the conversion in the request body setter), the body of the POST requests are unreadable in the tape file:

[code]

It makes it much harder to diff changes between tapes committed in a VCS, and to identify what each request is coming from in the code.

[2015-12-21 17:06] kevin1024 commented on #241
Ugh yeah this is a problem.  I would prefer the cassette to be human readable if possible.  Would merge a pr to fix this.

[2015-12-26 08:42] abompard commented on #241
@gward was the author of the commit, I can work on this but I'd be very happy to have his opinion on the matter.

[2015-12-31 18:17] #235 closed

[2015-12-31 18:18] #230 closed

[2015-12-31 21:21] simon-weber commented on #235
:+1: thanks!

[2016-01-08 16:42] Azulinho commented on #224
+1

[2016-01-11 22:55] hellmanj commented on #208
Hi, just started using this today (and think it's pretty great), but it doesn't quite work for me and I think a "rerecord" mode (or altered "all" mode) would solve my problem.  The way my app works, a search request is sent by the FE, a search ID is returned by the BE, and then the FE polls that search ID until the search results are ready.  If I record this interaction and the search results aren

[2016-01-11 23:07] IvanMalison commented on #208
vcrpy is typically used within an automated testing context. Are you saying that you are using vcrpy with an active server and an actual frontend?

It almost sounds like you are trying to use vcrpy as a caching mechanism. I might be way off base here, but I'm not really sure what you are asking.

[2016-01-11 23:14] hellmanj commented on #208
Yes :) we want to use it for both mocking responses during tests and caching data, as you say, so we can use it during development without needing to rely on a backend which is unstable right now (I think they don't even know why yet...)

Anyway, I think it's kind of besides the point.  The app makes the same request over and over until a favorable result is returned.  I'd like vcrpy to overwrite

[2016-01-11 23:16] IvanMalison commented on #241
in my view, this is actually more of a problem with the yaml encoder than anything else. The problem is basically that in python 3, there is technically no way to directly represent a string in a serialized way. Python 3 strings can use several different in memory representations (see https://www.python.org/dev/peps/pep-0393/)

So basically @gward s change is an improvement because it makes explic

[2016-01-12 01:26] IvanMalison commented on #241
[This comment](https://github.com/kevin1024/vcrpy/blob/43b3411e6c07d2d0fae9e4524082927179654a36/vcr/serialize.py#L13) seems relevant to @kevin1024 original intentions, and I think it might be false at this point because of @gward 's change.

[2016-01-12 01:32] IvanMalison commented on #241
@kevin1024 I think that the concern of what yaml does should be separate from the general process of serialization.

I would argue that the RIGHT thing to do would be to pass non unicode string data to the serializer.

IF in the case of yaml, we actually want to serialize using a unicode string, we should convert that serialized string BACK to a python unicode string, and then let the yaml seriali

[2016-01-12 06:42] IvanMalison commented on #208
Thats definitely not a use case one that was imagined when vcrpy was conceived, but I suppose that it is possible to use it to do this. With that said, it is unlikely that I or any of the other maintainers will make an active effort to support this functionality.

The best way to do this would be to provide a custom before_record_response that returns None when the response should not be recorded

[2016-01-12 15:03] hellmanj commented on #208
It already mostly works great as a development cache, so no added support needed, just trying to figure out this one issue.

I tried your suggestion, but then I get a cassette with two interactions where each interaction's response is null.  The favorable response isn't saved at all.  I also get this trace:
[code]

Will the new response filtering solve this?  If so, hope it comes soon!

[2016-01-12 15:10] hellmanj commented on #208
Decided to answer my own question, I just tried installing from master and it worked!

[2016-01-12 19:25] IvanMalison commented on #208
Yeah -- as I mentioned above:

[2016-01-27 13:59] Toilal commented on #214
Same problem here.

[2016-01-27 16:18] Toilal commented on #214
I've run the issue in the debuger, and problem occurs in [stubs module at method _uri()](https://github.com/kevin1024/vcrpy/blob/master/vcr/stubs/__init__.py#L137).

This method should should return the absolute URI of an URL, right ... But when a proxy is defined `self.real_connection.host` doesn't holds the url host, but the proxy host.

In units tests, for `http://httpbin.org/` as input, it ret

[2016-02-08 13:54] Sjord opened #245 "vcrpy replays recently added requests"
After storing a request in the VCR, sometimes vcrpy will replay that request later, even though every request should only be used once.

I made a [little script](https://gist.github.com/Sjord/06bede5fb2702b360413) to reproduce this problem. It starts with an existing YAML file so that `Cassette._rewound` is True. Then when you request the same URL two times, the first request is made to the server

[2016-02-12 07:10] cjw296 commented on #185
[code]
@gward - are you sure about the above?

You'r encoding using utf-8, and then again using ascii. It's the latter one that's blowing up. You should have bytes by then, curious as to why you don't...

[2016-02-23 13:32] delijati commented on #214
It's probably not the right place to fix it but it works for me `vcr/stubs/__init__.py`:

[code]

[2016-02-24 21:08] yarikoptic commented on #142
or may be meanwhile there is a way to skip tests which require network connection @kevin1024 ?  thanks in advance for the clarification

[2016-02-25 14:35] koobs opened #246 "Fix typo in v1.7.4 repository tag"
Current tag for 1.7.4 is v`.`1.7.4

Re-tag removing spurious `.` to fix

[2016-02-26 23:56] kevin1024 commented on #246
OK, fixed!  Thanks for the bug report.

[2016-02-26 23:56] #246 closed

[2016-03-12 05:43] stevezau opened #248 "vcrpy with py.test and xdist"
Hi,

We are py.test plugin xdist to improve testing runtime by running tests in parallel

We are getting random fails with cvrpy only when using more then 1 test runner such as

https://travis-ci.org/Flexget/Flexget/jobs/115481397

I've read that vcrpy is not threadsafe but then i read there were some changes that made it threadsafe? Can someone please confirm ?

thanks!

[2016-03-12 12:22] stevezau commented on #248
ignore this, found it might be an issue with a non-threadsafe test

[2016-03-12 12:22] #248 closed

[2016-03-12 20:14] kevin1024 commented on #248
Haha OK, that I can do :)

[2016-03-21 22:57] danstender commented on #142
Any progress on this? Please combine your products :-)

[2016-03-21 23:03] kevin1024 commented on #142
Would love to but been super busy lately!

[2016-04-01 22:03] greenmoss opened #249 "Add script, or document how to convert yaml binary response body into human-readable"
My vcrpy responses come back gzipped, so yaml encodes them as binary objects. It would be good if there were some easy way to read these as a human. I'm not sure what that would look like. Perhaps it could be a script which decodes these objects?

I also posted on Stack Overflow: https://stackoverflow.com/questions/36366234

[2016-04-03 22:27] greenmoss commented on #249
FWIW, I used the info from the SO question above to write a quick and dirty script for myself to decode one or all of the responses. I'm not sure if it fits directly in this repo, or whether it should be external. At the very least, here is the script as a gist:

https://gist.github.com/greenmoss/a400d6c20a52f0b3cd5415e833263b1f

[2016-04-07 02:34] tobiowo commented on #249
This was added in #230 / #234 (merged into master but not in the latest tagged release), if you set decode_compressed_response=True for your VCR object, recorded responses will be automatically decoded.

[2016-04-27 13:15] delijati opened #250 "remove_post_data_parameters throws None has no split"
I use requests oauth lib to auth to a service. I would like to remove the credentials added in the form. Its about the third or so request. This is possible if a simple `if request.body` is set before the for loop `for k, sep, v in (p.partition(b'=') for p in request.body.split(b'&')):`

[code]

[2016-05-01 00:59] jayvdb opened #251 "httpbin intermittent 50x error"
On Travis builds I am seeing lots of intermittent errors from httpbin, returning 50x.

Maybe pytest-httpbin has some feature to automatically recover from these intermittent errors, in which case #149 will solve this.

Alternatively, we could use
https://pypi.python.org/pypi/flaky

There are also some tests which I suspect are failing due to 50x , but the test doesnt check the response is OK befor

[2016-05-01 02:20] kevin1024 commented on #251
Yeah, I'm seeing that too, thus the renewed interest in #149.  Getting kind of bogged down by the parametrized tests in test_matchers though.

[2016-05-01 15:43] jayvdb commented on #251
Another case where a 50x is probably hiding behind another problem is `test_stubs.py:test_case_insensitivity`

[code]

https://travis-ci.org/jayvdb/vcrpy/jobs/127038815#L568

[2016-05-01 16:01] jayvdb commented on #251
And `test_wild.py:test_cookies`

[code]
https://travis-ci.org/jayvdb/vcrpy/jobs/127041061#L473

Probably worth adding asserts for the status code = 200 to each of these.  Even the local httpbin server might fail for some reason, and a more relevant assertion would help.

[2016-05-02 00:25] kevin1024 commented on #251
Hopefully fixed by merging #149

[2016-05-02 00:25] #251 closed

[2016-05-02 00:27] kevin1024 commented on #250
Any reason you can't just use the builtin post parameter filtering? https://vcrpy.readthedocs.io/en/latest/advanced.html#filter-information-from-http-post-data

[2016-05-02 00:30] kevin1024 commented on #142
Now using it.  Not sure that the test suite is 100% offline yet but good progress!

[2016-05-02 00:30] #142 closed

[2016-05-02 08:08] delijati commented on #250
I'm using it. [1] But as i mentioned above its the third request in a library which contains the credentials. The request before that a some GET, GET ...

[1]
[code]

[2016-05-02 10:13] crawln45 opened #254 "Unicode Warning: Unicode equal comparison"
Seems when url is unicode encoded. VCR throws a warning about it and fails the test with -rw flag. Also seems that cassettes can't be used more than once.
[code]

[2016-05-12 08:44] delijati commented on #214
Any other suggestions?

[2016-05-16 19:23] jhh3000 opened #255 "AttributeError: 'NoneType' object has no attribute 'decode' when 'body' in match_on, fixed with 'raw_body'"
When using vcr with the following configuration with 'body', there are errors with loading the JSON response -- it could be due to a blank response or blank payload. When I use 'raw_body' it works perfectly. Here's the stack trace (relevant sections):

[code]

[2016-06-09 17:52] nickdirienzo opened #256 "ETA for next pypi release?"
Really cool to see #234 and a whole bunch of Python3 changes merged into master. When do you think we'll see a release on pypi? Thanks for working on this package!

[2016-06-09 19:09] kevin1024 commented on #256
Thanks for the nudge.  Maybe this weekend!

[2016-06-09 19:18] IvanMalison commented on #256
Just released v1.8.0

[2016-06-09 19:20] nickdirienzo commented on #256
Awesome. Thanks for the super-quick turnaround on the version bump! :)

[2016-06-09 19:20] #256 closed

[2016-06-15 03:34] JanLikar opened #258 "Tests are failing"
`test_records_multiple_header_values` and `test_amazon_doctype` are failing with `urllib.error.HTTPError: HTTP Error 500: INTERNAL SERVER ERROR` and
`requests.exceptions.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:646)`, respectively.

[2016-06-21 07:39] kevin1024 commented on #258
yeah... what's up with that?

[2016-06-21 07:41] kevin1024 commented on #254
Check out the docs on record modes.   By default the cassette can only be used once, but if you would like it to be more than once there's a mode for that :)

[2016-06-23 03:22] fxfitz commented on #258
Error 1: `test_records_multiple_header_values` is failing due to a bug in httpbin with flask 0.11 (https://github.com/Runscope/httpbin/issues/290); I've been able to reproduce this with the pytest-httpbin repo and the httpbin repo.  @kevin1024: What would you think about pinning the requirements (probably more appropriate for pytest-httpbin?), and then hooking up the repository to requires.io? Fro

[2016-06-24 16:48] #258 closed

[2016-06-27 23:17] drgarcia1986 commented on #209
:+1:  to aiohttp suport

[2016-06-28 18:17] nickdirienzo opened #261 "Flaky test: `test_original_decoded_response_is_not_modified`"
There have been a few failures of this test since its introduction (see #247 for some comments around this).

It's difficult to reproduce locally, but this does happen in Travis. It may have to do with differences in responses from httpbin.org/gzip, but without more verbose logging in Travis it's hard to say for sure.

We can introduce an assertion error message that logs the decompressed content,

[2016-07-01 13:10] adamchainz opened #262 "ReadTheDocs does not seem to be updating"
[changelog](https://vcrpy.readthedocs.io/en/latest/changelog.html) doesn't list anything for 1.8.0

[2016-07-04 03:29] #261 closed

[2016-07-04 03:29] kevin1024 commented on #261
Yup, just comparing the decompressed response seems to fix it.  Thanks!

[2016-07-04 18:12] nickdirienzo commented on #261
Thanks for fixing that @kevin1024. Sorry I didn't get around to it sooner.

[2016-07-04 18:53] kevin1024 commented on #261
No worries, thanks for your contributions :)

[2016-07-10 22:19] objque opened #263 "Broken recording if use proxy server"
Hi,

I have local proxy server (Charles) and this code:

[code]

If run this code with proxy server, this VCR save broken yaml file. (in field URL)
But if i disable proxy server and remove broken yaml - VCR save valid yaml.

[yaml and stacktrace](https://gist.github.com/objque/495b0aec28c62769aa1ffd09c54e1f1a)

[2016-07-11 07:05] kevin1024 commented on #263
Yeah, there is a known issue with proxies: #214
Happy to take a PR for a fix!  Closing this issue as duplicate.

[2016-07-11 07:05] #263 closed

[2016-07-12 22:08] lmazuel opened #264 "decode_compressed_response=True changes the original response header"
If you use `decode_compressed_response=True`, you actually add the `vcr.filter.decode_reponse` as response filter.

Inside this method, you could find this:

[code]

The objective is to do a deepcopy of response of avoid to change it. However, it's changing the `headers` anyway.

Because the "headers" values are list and `CaseInsensitiveDict` does not do a copy of the values. Since the "remove(enc

[2016-07-14 08:02] mjholtkamp commented on #111
To revive this topic: I get the same error and I have a minimum working example:

[code]

I ran the command with a proxy env set (bla.yaml doesn't exist):
[code]

without the proxy env set it works as expected (bla.yaml doesn't exist here either).
[code]

I just pip installed vcrpy, nothing more:
[code]

It seems like `set_tunnel` is not only used for socks, but also for http(s) proxies.

If I cha

[2016-07-15 15:12] yarikoptic commented on #214
Since noone followedup, I will just dump the distilled version of my time somewhat wasted in trying to get acquainted with code and logic here.

1. I guess somewhere vcr should explicitly check/acknowledge use of proxy. urllib2.Request has `has_proxy()` which in these cases reports `True`, and req.host points to the proxy, while header seems to contain original address and `req.get_full_url()` als

[2016-07-15 16:22] kevin1024 commented on #214
Thanks for the investigation.

I think VCR should be able to run in an environment with a proxy as well as an environment without a proxy using the same cassettes. I could see a scenario where a developer has a proxy but a CI server does not, for example.

[2016-07-16 20:01] maroux commented on #255
@jhh3000 I ran into the same problem - it looks like your cassette may be problematic. For me, I had a request like this:
[code]
The `Content-Type` being json is the problem here. Removing that header seems to fix the cassette. This was caused by me editing the cassette by hand. Hope this helps.

[2016-07-19 16:50] IvanMalison commented on #245
@Sjord which record mode was used in your test?

[2016-07-19 16:51] #254 closed

[2016-07-19 16:52] IvanMalison commented on #241
@kevin1024 can you close or comment?

[2016-07-19 16:56] #189 closed

[2016-07-20 11:34] Sjord commented on #245
@IvanMalison I use `new_episodes`. The script to reproduce this can be found here:
https://gist.github.com/Sjord/06bede5fb2702b360413

[2016-07-23 17:22] kevin1024 commented on #241
@IvanMalison Sorry, I'm a bit dense/confused so you might have to catch me up :)

I think in general, unicode is supposed to be a canonical, in-memory representation.  When you read or write it to disk/network, you need to encode it.

So shouldn't the utf-8 encoding happen at the boundary of the system, right before sending it to disk?  Read bytes -> decode ->  unicode -> process -> unicode -> enc

[2016-07-23 18:06] kevin1024 commented on #241
I just read that [linked comment](https://github.com/kevin1024/vcrpy/blob/43b3411e6c07d2d0fae9e4524082927179654a36/vcr/serialize.py#L13) above and now it's making more sense.

Since all the internal HTTP stuff is happening as bytes, I guess this whole process is kind of backwards.

read bytes -> process bytes -> write bytes -> (yaml doesnt like to write bytes, so decode and then write unicode, whi

[2016-08-14 20:41] kevin1024 commented on #209
just added, thanks @lamenezes

[2016-08-14 20:41] #209 closed

[2016-08-19 22:32] nickdirienzo commented on #264
@lmazuel hey there. I ran into the same issue as well a few months ago. I patched a fix to resolve this problem in #259 that's included in 1.9.0. Which version of vcrpy is your code snippet from?

[2016-08-19 22:58] nickdirienzo commented on #241
Is this still an open issue?

I bumped to 1.10.0 today then rerecorded a cassette and am seeing string data in Python 3.5.2.
[code]

[2016-08-19 23:39] kevin1024 commented on #241
Yup.  Happily merging PRs to fix this :)

[2016-08-22 04:32] nickdirienzo commented on #241
I'm trying to best understand the issue at hand. What I'm reading is the serialization pipeline still needs work, but what I'm seeing is a side-effect that was introduced somewhere in one of the recent versions. Is that accurate?

[2016-08-22 07:22] kevin1024 commented on #241
Yes, one of the recent changes to fix some kind of encoding issue in Python 3 caused this side effect.

[2016-08-22 17:31] nickdirienzo commented on #241
Gotcha. Thanks for clarifying, @kevin1024!

[2016-08-24 12:22] danielbrowne opened #268 "before_record_response callback is called for each response in the cassette, not just the one that is matched"
`with vcr.use_cassette(
                    CASSETTE, before_record_response=self._fix_change_response, record_mode='none', serializer='json'):
                response = requests.post(
                    url='https://mock_change_server_test_connection:8443/axl/', headers=self.headers.dict)`

_fix_change_response gets called once for each record in the cassette. Should it not only be called for t

[2016-08-28 19:54] nirik opened #270 "build failure under python2 with 1.10.0"
byte-compiling /builddir/build/BUILDROOT/python-vcrpy-1.10.0-1.fc26.noarch/usr/lib/python2.7/site-packages/vcr/stubs/aiohttp_stubs.py to aiohttp_stubs.pyc
  File "/usr/lib/python2.7/site-packages/vcr/stubs/aiohttp_stubs.py", line 16
    def json(self, *, encoding='utf-8', loads=json.loads):  # NOQA: E999
                    ^
SyntaxError: invalid syntax

I thought aiohttp was python3 only? perhaps

[2016-08-28 22:35] kevin1024 commented on #270
Aiohttp tests should not run on python2 but we definitely still support Python2.  Are you seeing this failure from your own test suite or from running VCR's test suite?

[2016-08-29 15:42] nirik commented on #270
The full build log is at:
https://kojipkgs.fedoraproject.org//work/tasks/8539/15408539/build.log

Fedora builds the python2 and python3 versions in the same source package... the error shows up when doing 'python2 setup.py install'

[2016-08-31 06:39] kevin1024 commented on #270
Paging @lamenezes - it looks like your asynciohttp patch broke the fedora package build.  Can you check that out?

[2016-08-31 15:45] lamenezes commented on #270
I'm checking it.

It seems that `python setup install` works, but `python setup.py install_lib` doesn't. From the logs fedora's python setup also calls `install_lib`

I'm working on some way to exclude aiohttp codes from python 2.7 builds

[2016-09-09 14:19] lamenezes commented on #270
@kevin1024 is there any way I can help to close/solve this issue?

[2016-09-09 16:38] #270 closed

[2016-09-09 16:39] kevin1024 commented on #270
Thanks for the reminder!  Merged the PR.  @nirik is master building ok for you?

[2016-09-09 22:10] nirik commented on #270
With both the above PR's I think we are good. :)

Are you planning a release soon? Or should I just apply these downstream in Fedora packages?

[2016-09-09 22:51] kevin1024 commented on #270
Will try to do a release this weekend :)

[2016-09-12 04:10] kevin1024 commented on #270
OK, released!

[2016-09-12 22:31] jseabold opened #273 "Add "recorded_with: VCR VERSION" to response"
It looks like GitHub relies on this line being present to mark a file as a cassette.

https://github.com/github/linguist/blob/master/lib/linguist/generated.rb#L336

[2016-09-12 23:45] kevin1024 commented on #273
I think you meant to open this on the Ruby VCR project, not the Python one :)

[2016-09-13 12:34] lamenezes opened #274 "Exception raised when using vcrpy==1.10.1 on Python 3"
Easy (temp) fix: pin vcrpy version to 1.10.0

[code]

I'm going to check it as soon as I have the time.

[2016-09-13 13:02] jseabold commented on #273
Hi. No I meant this project. The Ruby VCR project includes this information. I was trying to figure out why github suppresses cassette diffs for our ruby projects but not our Python ones. AFAICT, that project is how github does file type recognition, so it doesn't recognizes cassettes generated by vcrpy as cassettes without that last bit of information stuck in the cassette objects.

[2016-09-13 13:26] lamenezes commented on #274
@kevin1024 it seems the source on PyPI was generated using Python 2.7 and aiohttp_stubs weren't included.

[2016-09-14 01:51] kevin1024 commented on #274
OK, new release pushed with python3.

[2016-09-14 01:51] #274 closed

[2016-09-15 22:36] jseabold commented on #273
https://github.com/github/linguist#linguist

[2016-09-15 22:52] IvanMalison commented on #273
I'm going to cautiously reopen this issue. I know that vcrpy was never intended to inter-operate or share a format with ruby's vcr, but I think that it might be valuable to take some type of action on this. It may be that we should make a PR to linguist instead.

[2016-09-20 06:49] number5 opened #275 "AttributeError: 'VCRRequestsHTTPSConnectionfixtures/cassettes/test_' object has no attribute 'ssl_context' in with urllib3/python 2.7.12"
This is working for `urllib3` 1.16 but failed for 1.17
vcrpy version: 1.10.0
[code]

[2016-09-22 17:32] jseabold commented on #273
I filed an issue on the linguist issue tracker. I still think you may need to add some identifying information to the cassettes, but you'd know better than I.

[2016-09-29 18:09] simon-weber commented on #214
I'll take a look at this. One of our integrations requires ip whitelisting, so we need support for this to be able to record from our autoscaled CI hosts (which sit behind a whitelisted proxy).

[2016-09-30 15:55] simon-weber commented on #255
This is a bug, right? Even though it may be atypical, `null` is valid json. Either the cassette should be persisting `'null'` instead of `null`, or matchers._transform_json should be able to handle None.

[2016-10-02 20:05] kevin1024 commented on #214
@simon-weber thanks!  This issue has been annoyingly persistent.

[2016-10-02 22:10] #255 closed

[2016-10-03 21:00] simon-weber commented on #214
Huh, this is more complicated than I thought. I was hoping we could just override the connection's host with the contents of the Host header. This works fine for urllib2, but it looks like requests doesn't actually set it.

The host we want is included in `url`, but we can't just parse it out in the general case since someone could theoretically request the url `http://host.com/http://host.com` --

[2016-10-04 18:17] simon-weber commented on #214
Looking at the environment turned out pretty easy, and it looks like windows tends to respect the http_proxy env var as well. I'm going to test this out with our setup; in the meantime, suggestions on how to test this would be good (eg do you want a proxy running during tests to prove these still get proxied?).

[2016-10-05 20:10] simon-weber commented on #214
I ran into a really hairy problem with https proxying, where things will break in the combination of:
* https proxying
* connection: close response header (in my case, in response to a connection: keep-alive request header, though I'm not sure that's relevant)
* urllib3/requests
* requesting the same host more than once

For some reason, this causes urllib3/httplib to incorrectly set the proxied c

[2016-10-06 16:38] simon-weber commented on #214
Ok, I got everything working for our setup. https://github.com/kevin1024/vcrpy/commit/80550dbb64052aec857c391d1654a33495f8c80f was the solution to what I described above; `is_connection_dropped() and auto_open == 0` must be true for urllib3 to know that the connection has been mucked with by httplib and tear it down properly.

@kevin1024 want me to send a PR after I rebase? Or did you want to revi

[2016-10-06 16:51] kevin1024 commented on #214
Wow, thanks for your work on this.  Tests are a pain.  I wonder how hard it would be to build a pytest fixture that is a simple proxy kind of like pytest-httpbin.  Just thinking out loud here.

[2016-10-06 16:54] kevin1024 commented on #214
Ehhh not to excited about adding some kind of pysocks dependency to run tests

[2016-10-06 16:54] kevin1024 commented on #214
Could use an open online proxy to run a couple tests but that will make tests pretty flakey

[2016-10-08 16:50] agriffis commented on #214
Why is that? IMHO dependencies for devel/tests are totally fine. I only worry about adding deps when it affects install. In particular, I'd rather add dev deps to keep things self-contained than depend on an external server.

[2016-10-08 17:57] IvanMalison commented on #214
+1 to @agriffis' sentiment

[2016-10-08 21:05] kevin1024 commented on #214
Fair enough.  It just makes it harder for the distros that package VCR since they then need to create packages for the dependencies, even though they are only used to run tests, since it some of them seem to run the test suite as part of their build process.

That said maybe we can add a little proxy server but mark the tests as optional or something.  Run them in our CI server but if a distro doe

[2016-10-12 15:24] agriffis commented on #214
Huh, interesting. Despite coming from a distro background, I tend to think of Python packages as something installed in virtualenv and never on the distro, especially testing tools like VCR.

Either that or wait for a distro to complain. Are you sure this problem is more than just theoretical?

P.S. Sorry for spouting an opinion but not offering to help. I'm busy with other things at the moment bu

[2016-10-19 22:24] brechin commented on #131
FWIW, I'm using vcrpy 1.10.2 to help in testing an application built with Django 1.9.6 and Django Rest Framework 3.3.3 with no issues.

[2016-10-20 20:04] simon-weber commented on #214
I'll poke around for a pure-python proxy we can add as a test dependency.

[2016-10-21 07:49] liiight commented on #254
did you even look at the error that was pasted? this is still very relevant

[2016-10-21 07:53] cvium commented on #254
Just to add some context to @liiight's comment:

The request recorded in the cassette is the same as the one in our test, but it fails to match the cassette on Python 2, because of a type error. The mismatch is caused by a comparison between a unicode string and a `str` object ie. `u'sóme unicøde string' == 'sóme unicøde string'`.

It's been a long time since I examined the problem, but from what

[2016-12-14 23:22] yardensachs opened #281 "Support Hyper"
Hey,

I was wondering if there is gonna be support for recording [hyper](https://github.com/Lukasa/hyper)?

I would have done it myself but it's beyond my understanding 😄

Thanks!

[2016-12-19 16:25] afrosimon opened #283 "Problem with boto3"
This is most likely related to #247 - I've cornered where the issue is happening, but I'm unsure as to how I'd fix this problem. When using vcr.py with a pretty normal boto3 use-case (reading from s3) I stumbled upon this exception :

  File "[...]/lib/python3.4/site-packages/botocore/vendored/requests/packages/urllib3/connection.py", line 234, in connect
    self.sock = ssl_wrap_socket(conn, self

[2016-12-19 17:21] kevin1024 commented on #283
Ugh, that isinstance check is a pain.  Thanks for the analysis, you're probably right.  Wonder if there is a scary metaprogrogramming method to fake out isinstance.  That or submit a patch to boto3

[2016-12-21 14:28] nysthee commented on #214
Hey some of my cassettes re-record when using on a CI environment could this be related to this?

[2016-12-21 16:08] sirex opened #285 "Add lxml support"
lxml can load XML data from URL, when lxml validates XML against schema multiple requests can be made, because XML schemas can import files from URL's.

As far as I know lxml does URL loading from c: `lxml.etree._parseDocumentFromURL (src/lxml/lxml.etree.c:106564)`, not sure if it is possible to patch lxml to make it work with vcr, but it would be nice to have lxml support too.

[2016-12-21 17:42] simon-weber commented on #214
Possibly. You could check the environment when your code runs -- this problem should only occur with proxies set via `http_proxy` and similar variables.

[2016-12-21 18:23] reece opened #286 "How to use vcrpy within pytest conftest.py?"
I'd like to use vcrpy within a pytest conftest.py file. Any tips for how to do this? I've not been able to find any examples in the docs or by searching.

Conceptually, I'm looking for something like [this betamax invocation](https://github.com/sigmavirus24/betamax/blob/master/tests/conftest.py):
[code]

I've tried this in conftest.py:
[code]

And then:
[code]

[2016-12-21 18:54] reece commented on #286
The above was close. The problem is that I needed to also update the use_cassette decorator. The following conftest does work to effective create a global vcr configuration:

[code]
(The last line was the critical omission.)

And then:
[code]

[2016-12-21 18:54] #286 closed

[2016-12-22 11:16] nysthee opened #287 "Requests pass trough on ci"
Hey

When running our test suite locally the cassettes are correctly loaded but on my CI I get the notice that the request from the cassette and the actual request don't match.

There is no resemblance with #214, I didn't found any HTTP proxy related environment variables.

Python version: 3.5.2
Vrcrpy version: 1.10.4

The CI we are using uses docker to run the builds, I tried with a few different

[2016-12-22 11:31] mandshaw commented on #287
Do you have debug on and can you see how the request and cassette differ?

I had this problem myself before where my venv locally was using an older version of requests and when I deployed to my CI it failed cause it was using a newer version of requests and the headers differed (The requests version is in the header)

I solved this by (naively) switching header checks off

[2016-12-22 12:50] nysthee commented on #287
[code]

This is the response I get when logging turned on. Is this the expected output of the logger. Because according to the docs I should be able to see which matcher fails.

[2016-12-22 13:09] mandshaw commented on #287
Ah it looks like either your cassette never got up to the CI (do you have
it included in a manifest or have you ignored it in your
gitignore/equivalent) or your record mode is not set to once.

That line 'not in cassette, sending to real server' usually happens when
you don't have a cassette or your record mode is not strict.

when the cassette exists you would see the match breaks like the docume

[2016-12-22 14:04] nysthee commented on #287
It was a path issue. Thank you so much for pointing me in the right direction! 👍  👍  👍

[2016-12-22 14:04] #287 closed

[2016-12-22 14:05] mandshaw commented on #287
No worries, I love vcrpy. Glad to help out :)

[2017-01-11 13:35] ubaldo opened #290 "New release?"
Hi, the fix in this merged pr https://github.com/kevin1024/vcrpy/pull/289 solves an issue we have with app engine's latest sdk. However, it's not included in the latest release, so I can't get it from pip.

Do you plan to make a release soon that includes this issue?

[2017-01-12 04:19] kevin1024 commented on #290
Thanks for the ping.  Just pushed a new release.

[2017-01-12 04:19] #290 closed

[2017-01-12 04:19] kevin1024 commented on #262
fixed!

[2017-01-12 04:19] #262 closed

[2017-01-12 13:41] lamenezes commented on #290
@kevin1024 don't forget to push the tags to github :)

[2017-01-12 15:01] ubaldo commented on #290
That's right, no new tag, currently latest is 1.10.3

[2017-01-12 18:05] kevin1024 commented on #290
annd tagged!  Thanks :cake:

[2017-01-12 18:12] Lukas0907 opened #291 "before_record_response does not change real response"
Hi,

when the cassette has not been recorded yet, the real response is returned that doesn't have the filter from `before_record_response` applied.

This means that the response is different depending on if it comes from the cassette or if it's the real one produced during recording.

Cheers,

Lukas

[2017-01-12 18:29] kevin1024 commented on #291
Yeah, the intention of before_record_response is to give a hook to alter the data that gets saved (e.g. to filter out passwords or something), not to change the actual response.  What's your use case?

[2017-01-12 19:24] Lukas0907 commented on #291
Thanks for your fast response! :)

I have a JSON response that contains sensitive data. I want to replace some sensitive fields with placeholders and during the first run (when the response doesn't yet come from the cassette) I also want to have the placeholders in the response. This way I can just delete the cassettes, rerun the tests and hopefully they still pass.

I could also achieve the same

[2017-01-23 22:50] derekbekoe opened #293 "VCRConnection does not support Python 3.6 - 'encode_chunked'"
In Python 3.6 http.client.HTTPConnection.request, a new keyword argument of `encode_chunked` was added. Currently, it doesn't look like VCR does not support this change so you get a stacktrace.
https://docs.python.org/3.6/library/http.client.html#http.client.HTTPConnection.request

When VCR patches `HTTPConnection` with `vcr.patch.VCRHTTPSConnection`, it does not accept this new keyword argument a

[2017-02-07 14:34] delijati opened #295 "Second thread not recorded"
When run with multiple threads `THREADS = 2`, only the one call is recorded:

[code]

First call:
[code]

Second call:
[code]

Yaml:
[code]

[2017-02-07 17:27] delijati commented on #295
If i remove `force_reset` in `vcr/stubs/__init__.py +246 ` as suggested in #212 then are both requests recorded.

[2017-02-08 00:05] IvanMalison commented on #295
See the discussion in #213 . vcrpy is not meant to be thread safe at the momement. It seems that there is a solution

[2017-02-15 11:03] ustroetz opened #296 "Details url for older version of VCR is outdated"
The link (http://git.io/mHhLBg) reported when a cassette was generated in an older version of VCR is no longer working.

If you provide me the new one I send a PR to fix it.

https://github.com/kevin1024/vcrpy/blob/ecbc192fc445d3bd91aba43d1a34dd6d9ccb1976/vcr/serialize.py#L30

[2017-02-25 10:30] kjagiello commented on #291
In my case, I'm trying to remove `Set-Cookie` from the serialised request, but it removes it from the actual response too, so it seems that it already works the way @Lukas0907 was hoping for. In my case this is however a bit troublesome as I do want the cookie in the actual response, but not in the cassettes.

[2017-02-27 19:51] AartGoossens opened #297 "before_record is ignored when before_record_response/request is used"
When a VCR instance is configured with `before_record` and `before_record_response` and/or `before_record_request`, `before_record` is ignored.
I used this as a way to prevent recording or using cassettes completely but this did not work.

### Example
[code]
In this scenario cassettes are still used or recorded.

### Solution
I think this is intended behavior but I think the documentation should m

[2017-02-27 20:30] IvanMalison commented on #297
It's not and/or.

before_record is simply an alias for request.

The relevant line is

[code]

[2017-02-27 20:35] #297 closed

[2017-02-27 20:42] AartGoossens commented on #297
Thanks for clearing things up @IvanMalison.
To prevent future confusion, is it an idea to replace `before_record` with `before_record_request` in the docs?

[2017-02-27 20:58] IvanMalison commented on #297
Sure, although before_record still works. The only thing that is worth noting is that before_record_request supercedes before_record. That is, before_record will be ignored when before_record_request is present.

[2017-02-28 09:27] sfranchois opened #299 "default request matching : order of parameters in URL"
Hi

For the default URL request matcher, does the order of the query string parameters matter?

During a second run (fetching from cassette), we get a
CannotOverwriteExistingCassetteException
(match_on = ['method', 'query'])

We noticed that the order of parameters in the URI is sometimes different.
Would vcrpy see these requests as different?

For example:
http://some_host.com/get_some?a=1&b=2
ht

[2017-03-01 05:12] IvanMalison commented on #299
Check out https://github.com/IvanMalison/okcupyd/blob/46f4eaa9419098f6c299738ce148af55c64deb64/okcupyd_testing/util.py#L149

[2017-03-14 22:56] graingert commented on #212
@kevin1024 have you thought about using patchy for much more surgical patches?

[2017-03-14 23:04] kevin1024 commented on #212
Hmm, first I've heard of it.  @IvanMalison is the patch master around here :)  What do you think?

[2017-03-15 00:15] IvanMalison commented on #212
@graingert I haven't heard of it either. How is it substantially different than what is offered by mock?

[2017-03-15 00:21] graingert commented on #212
https://pypi.org/project/patchy/ it patches the actual __code__ object, so no need to chase down usages and all the types and  __mro__ stay the same.

With patchy you'd be able to patch out only the core of the library that actually performed the request, rather than whole classes and constructors

[2017-03-15 00:51] IvanMalison commented on #212
Hmmm.
I don't really see it solving a problem that we have ATM.
Some of the mentioned cons don't really seem worth it:

If you have a patch file, why not just fork the library and apply it?
At least with monkey-patching you know what end up with, rather than having the changes being done at runtime to source that may have changed.

[2017-04-15 08:14] matclab commented on #32
I wonder if it would also solve the problem I encountered with newer version of google cloud sdk, where my tests fail with:
[code]

I'd like to help solving this problem, but some hints about where I should look and what should probably be done would be a great help.

[2017-05-02 10:17] #293 closed

[2017-05-14 03:39] Conan-Kudo opened #308 "vcrpy 0.11.0 is broken in Python 2.7"
When attempting to build vcrpy 0.11.0 for Python 2.7, I got the following failure:

[code]

[2017-05-14 09:23] graingert commented on #308
What are you using to build this? `pip install vcrpy` is the only supported install method

[2017-05-14 11:53] Conan-Kudo commented on #308
build: `/usr/bin/python2 setup.py build`

install: `/usr/bin/python2 setup.py install -O1 --skip-build --root /home/iurt/rpmbuild/BUILDROOT/python-vcrpy-1.11.0-1.mga6.i386`

Essentially the steps that pip does itself.

[2017-05-26 14:56] maxking commented on #185
I along with my colleague were trying to debug this issue as it causes our own test suite to fail causing problems. It seems like this issue arises from `urllib.parse.parse_qsl` in the standard library specifically [here][1]. The method looks something like this:

[code]
Note the `_implicit_encoding` or `ascii` above which is what `_coerce_result` method uses to try to force the result to instead

[2017-05-27 07:32] nhanb opened #310 "How to use vcr in sphinx doctests?"
I'm trying to migrate from **requests_cache** to **vcrpy**. I haven't figured out a clean way to setup vcr inside my [doctests within sphinx](http://fundoshi.nerdyweekly.com/en/latest/usage.html). Previously with **requests_cache** I could add a `testsetup` block like this at the top of the rst file:

[code]

But **vcrpy** does everything inside its context manager so I can't do that. Technically

[2017-05-27 08:50] graingert commented on #310
If you're using pytest you can create a pytest fixture and use that.

On 27 May 2017 08:32, "Bùi Thành Nhân" <notifications@github.com> wrote:

[2017-05-27 19:35] kennethreitz opened #311 "Possibly incompatible with latest Requests release"
Hello,

Requests moved away from internally packaged dependencies this weekend, and as such, may have broken compatibility with this library.

Related: https://github.com/Flexget/Flexget/issues/1846#issuecomment-304471517

[2017-05-27 19:43] kevin1024 commented on #311
Thanks for the heads up!

[2017-05-27 19:43] kennethreitz commented on #311
Sorry in advance!

[2017-05-27 20:56] kevin1024 commented on #311
@IvanMalison Something odd here, seems like urllib3 is no longer being patched properly.  I'm still poking around but a bit confused.

[2017-05-27 21:19] kevin1024 commented on #311
I'm starting to suspect this https://github.com/kennethreitz/requests/blob/master/requests/packages.py

[2017-05-27 21:19] kennethreitz commented on #311
Well, yes. :)

[2017-05-27 21:32] kevin1024 commented on #311
The reason I'm confused is because we have always patched both requests.packages.urllib3 and urllib3 directly since vcr works with urllib3 out of the box as well, so this change should not have affected vcr.

It appears that one sys.modules line is causing the issue.  Maybe we are avoiding double-patching somehow?  I'll keep digging.

[2017-05-27 21:33] kennethreitz commented on #311
i wonder if import order would matter — maybe requests needs to be imported after vcr

[2017-05-28 00:36] kevin1024 commented on #311
I think it has something to do with the fact that when one assigns to sys.modules (`__setitem__`), it causes the code to be reloaded, but existing references still point to the old code, so VCR is patching the old reference instead of the new.

[2017-05-28 00:37] kennethreitz commented on #311
that's why i thought import order might matter

[2017-05-28 00:37] kennethreitz commented on #311
you could always update sys.modules too, if needed.

[2017-05-28 01:33] kevin1024 commented on #311
I think I have a crazy workaround, only downside is my head is exploding 😜

[2017-05-28 01:40] #311 closed

[2017-05-28 01:41] IvanMalison commented on #311
I'm not 100% convinced that this is to blame.

The thing is that either

a) this happened BEFORE vcrpy even attempted the requests import
or
b) vcrpy is causing the requests import

in either case we should be getting a fresh version of the module.

[2017-06-06 09:33] meetmangukiya opened #312 "Can vcr be used with doctests?"

[2017-06-06 11:26] graingert commented on #312
Yeah, but you have to use a pytest yield fixture

[2017-06-06 11:26] #312 closed

[2017-06-06 11:27] graingert commented on #312
https://docs.pytest.org/en/latest/doctest.html

[2017-06-06 11:28] graingert commented on #312
Gitter is probably the best place for these sorts of questions https://gitter.im/kevin1024/vcrpy

[2017-06-07 09:39] ooeyuna opened #313 "VCR doesn't work when Upgrade to 1.11.1"
it works fine at 1.10.5 and fail at 1.11.1

code:
[code]

it make real connection when yaml exist.

i tried to delete `app_check.yaml` and run test,but it cannot genarator new yaml file.

stack:
[code]

all pip package
[code]

[2017-06-07 09:44] graingert commented on #313
Can you create a failing demo project? Eg make a new github repo and demonstrate the failure on Travis?

[2017-06-07 11:28] ooeyuna commented on #313
[demo](https://github.com/ooeyuna/vcrtest)

`github.yml` will return status code 400

reproduction:
- install requests==2.17.3
- install requests==2.11.1 vcrpy==1.11.1
- run test

[2017-06-07 18:27] #313 closed

[2017-06-08 02:31] froomzy opened #315 "Issue found when trying to use vcrpy with requests and concurrent.futures"
Whilst writing a test for some new work I was doing, I encountered an issue where vcr was somehow passing a
now deprecated parameter to urllib3, or causing requests to do so. I have reproduced a minimal example below
that causes the same issue, and is doing things in much the same way that I was. I have also included a
version of the script that doesn't explode, where there is no vcr involved.

Fo

[2017-06-08 15:42] graingert commented on #308
@Conan-Kudo please use `pip install vcrpy` only.

[2017-06-08 15:42] #308 closed

[2017-06-11 11:02] meetmangukiya opened #316 "vcr doesn't record requests used within a library?"
I am using github3, and want to test it. This is what I used:
[code]
when I run this test, the cassete is not recorded

`github3` uses a `GitHubSession` session which inherits from `requests.Session` internally

[2017-06-14 15:49] smarlowucf commented on #283
I was getting a similar error when launching an instance with EC2 and also retrieving the instance state.

```state = instance.state['Name']```

Resolved both by importing boto3 or using  importskip on boto3 in the test module. Similar to the boto3 integration test https://github.com/kevin1024/vcrpy/blob/master/tests/integration/test_boto3.py.

[code]

[2017-06-16 18:20] mattyb opened #317 "Provide ability to check whether VCR is recording or not"
The ruby client provides this as `VCR.current_cassette.recording?`. This is particularly helpful when you have a method that polls an endpoint. You can have a typical polling interval during recording, but set it to 0 during playback.

[2017-06-16 18:27] graingert commented on #317
Code should not depend on test utils. Make your interval or sleep function a  parameter of your unit under test

[2017-06-16 18:29] mattyb commented on #317
Not suggesting that the code under test would use the test util. In the test code either the polling interval values can be mocked, or the function parameter can be adjusted, based on whether the cassette is recording or playing back.

[2017-06-16 18:30] graingert commented on #317
But the test code would know if it was running under a cassette, it would be inside the decorator or with block

[2017-06-21 12:37] zaufi opened #318 "`requests` and HTTPS connection gives an error"
Hi,

I'm trying to record a session with REST API of [JFrog Artifactory](https://jfrog.io). I use [verified HTTPS session](http://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification) and everything is fine until I add a `vcr.use_cassette` decorator to my test. With decorator the test failed with multiple exceptions first of which is (reported by `py.test`):

[2017-06-22 16:04] samuelfekete commented on #214
I have submitted a pull request which fixes this - at least for my use-case, which is boto3 using urllib3.

[2017-06-29 22:19] georgedorn commented on #316
I discovered a similar problem with the Stripe API client, which uses requests.Session as well.  I suspect vcr doesn't mock this usage properly.

[2017-06-30 01:16] IvanMalison commented on #316
@georgedorn yeah request likely does not patch session properly. That should be ticketed.

[2017-07-12 09:57] silencev commented on #208
sorry to jump in, I do need this feature which the **all** mode still append to the existing cassette.

[2017-07-12 19:39] Lushali commented on #178
I upgraded distribute, but the error stays.

Upgrade:
[code]

Error:
[code]

[2017-07-12 19:58] graingert commented on #178
@Lushali distribute is dead, why would you install it?

Always install the pypa trifecta:

`pip install -U pip setuptools wheel`

[2017-07-12 21:42] graingert commented on #178
@Lushali also that's a bug in pbr that mock is using

[2017-07-14 19:18] hartwork commented on #214
This issue also hits with test suites utilizing VCR that are executed from within a Debian package building process (say during `debuild -us -uc`) since [PyBuild of dh-python uses `http[s]://127.0.0.1:9/` for `http_proxy` and `https_proxy`](https://wiki.debian.org/Python/Pybuild). The precise error is:
[code]

For the next one with this problem where patching VCR is not an option, here's a demo of

[2017-07-30 16:03] rfadams commented on #316
@meetmangukiya @georgedorn @IvanMalison I had a similar issue, but with a "client" we developed internally that also uses requests. I spent a while trying to diagnose the issue to no avail. What was most frustrating is that since it is an internal client, it is used in another codebase as well and VCRpy was working great over there.

Finally, I had the idea to downgrade VCRpy in the new codebase t

[2017-08-01 09:23] blacksponge opened #322 "Wrong cassette using http.client and tunneled connection"
Hello,
I am using the `HTTPConnection.set_tunnel` method from `http.client` to get the proxy right but when I want to record a request
  * the cassette file does not contain any of the request to the proxy (which are actually what I need to test)
  * the URL stored in the cassette is `[proxy host]/path-to-resources` and not `[host I want to reach]/path-to-resources`.

I can fairly understand that

[2017-08-02 19:28] ut-adamc opened #323 "Compatibility with GRequests?"
This is really just a request for clarification. Am I correct in thinking this does not work with GRequests? (When I try running tests, it only seems to record the first request in every batch sent through map.)

Thanks in advance.

[2017-08-02 19:33] graingert commented on #323
I'd stick to aiohttp for async http.

[2017-08-05 06:37] nhanb commented on #310
I'd rather not migrate to a different testing framework because I'm happy with the current setup and would rather keep things minimal (also I looked and haven't found an obvious way to setup pytest + doctest + sphinx that leverages fixtures to fix my issue).

Turns out I can manually start and close a context manager with `__enter__()` and `__exit__()`, so things worked out with something like thi

[2017-08-05 06:37] #310 closed

[2017-08-07 17:17] ut-adamc commented on #323
Alas, that code is already set, so we can't use this to test if it is not compatible.

[2017-08-07 18:00] graingert commented on #323
@ut-adamc grequests is only a tiny wrapper around a monkey patched requests. I'd suggest rolling your own then disabling the monkey patches in your tests and running synchronously

[2017-08-11 16:31] lmazuel commented on #315
I have a similar issue, see this job on Travis for instance:
https://travis-ci.org/Azure/azure-sdk-for-python/jobs/262885406

This is a random issue on Travis, sometimes it works, sometimes it does not :/. Never fail on the first test, always somewhere later.

I tracked this down to the `ConnectionCls` attribute of `urllib3.connectionpool.HTTPSConnectionPool`, that is supposed to be mocked to `VCR

[2017-08-11 16:39] lmazuel commented on #315
This might helps as well, on Py 3.3, `strict` is still a parameter of `httplib.HTTPSConnection` so the stacktrace is a little different but it fails just a little later and gives another insight:
https://travis-ci.org/Azure/azure-sdk-for-python/jobs/262885407

[2017-08-11 19:03] graingert commented on #315
@froomzy use aiohttp.

[2017-08-11 19:16] lmazuel commented on #315
@graingert do we agree that your answer is an advice (good advice by the way :)), but this has nothing to do with the actual issue? :-)

[2017-08-11 19:18] lmazuel commented on #315
@froomzy note that I got the problem without using concurrent at all, so I think concurrent is just making it more obvious. If you think I should just open a new issue I can, but the root cause seemed to me to be the same.

[2017-08-11 19:24] graingert commented on #315
@lmazuel if you can repeat it without threads that would be great.

I don't want to support legacy IO on modern platforms.

[2017-08-14 16:14] lmazuel commented on #315
@graingert that's my problem, I don't have threads, but this just happens on Travis for some reason :(. I gave what I have so far: `ConnectionCls` attribute of `urllib3.connectionpool.HTTPSConnectionPool` turns itself into `httplib.HTTPSConnection`, after some tests...
I create `VCR` object in all my class `setUp` (and I have a lot of `TestCase`), meaning this class might be claimed by the garbage

[2017-08-14 16:16] graingert commented on #315
@lmazuel can you repeat it with a simple test case?

[2017-08-14 16:16] lmazuel commented on #315
@graingert will do my best :)

[2017-08-14 17:51] Kartstig commented on #315
I am able to repo _with_ threads. Not sure if that's helpful, but I'm using `TheadPoolExecutor.map`:
[code]

[2017-08-14 18:44] amarao opened #325 "Multiple calls to before_record_request function for a single request"
Hello.

I found that function which was specified in `before_record_request` parameter has been called several times for each request. It looks really odd and complicates debugging.

version: 1.10.0-1

Code example:

[code]

Expected output: one entry
Actual output:
[code]

Moreover, I found that if I run that script, number of classs getting bigger and bigger (+1 on each run).

[2017-08-14 18:51] amarao commented on #325
I wrote a workaround for this, but it still looks strange:

[code]

[2017-08-16 00:29] lmazuel commented on #315
@graingert I opened https://github.com/kevin1024/vcrpy/pull/326, which I think fixes the `strict` issue. But this is not enough to fix the while problem, now it just fails later, but trying to do an actual request. So it seems for some reasons the mock are lost, after a call to `reset_patchers`

[2017-08-17 17:08] #315 closed

[2017-08-22 17:58] lmazuel opened #327 "If test leaks an unfinished thread with a requests.Session, next test fails for wrong cassette."
I think that's the root cause of #315, and I got to fix #326 to help me to figure this out.

If you think about `mock.patch`, questioning about multi-thread safety is the bad question ([see this interesting SO question](https://stackoverflow.com/a/26877522/4074838)). However, what happen if a thread keeps a `requests.Session` object with a patched connectionpool, but the main thread exits the `@vc

[2017-08-22 20:36] eliasdorneles opened #328 "Allow filter PUT data parameters when using JSON"
Currently it's possible to set parameters to be filtered of the request body using [`filter_post_data_parameters`](http://vcrpy.readthedocs.io/en/latest/advanced.html#advanced-use-of-filter-headers-filter-query-parameters-and-filter-post-data-parameters).

It would be nice to support the same for PUT requests as well.

[2017-08-22 20:49] eliasdorneles commented on #328
Relevant code: https://github.com/kevin1024/vcrpy/blob/master/vcr/filters.py#L86

[2017-08-25 14:30] eliasdorneles opened #329 "Add configuration flag to assert all requests were played"
It would be nice to be able to configure VCR to assert that all recorded requests must be played without having to write the assertion explicitly.

The idea is to be able to ensure that all the requests you recorded are indeed being called by the code being exercised by a test: to avoid cases where a test will pass even if the code doesn't do a request that was expected but doesn't have any "asser

[2017-09-08 15:54] zobelhelas opened #330 "return (yield from fn(cassette)) works only with python3"
In *vcrpy/vcr/_handle_coroutine.py* you have:
[code]
This results in
[code]

Your setup.py claims the package should work with 2.7, which it seems it does not.

[2017-09-08 15:58] kevin1024 commented on #330
Whoops.  Will merge a PR that fixes this.

[2017-09-08 17:11] graingert commented on #330
@zobelhelas this exception should be caught

[2017-09-08 17:40] graingert commented on #330
Here: https://github.com/kevin1024/vcrpy/blob/master/vcr/cassette.py#L18

[2017-09-08 17:55] zobelhelas commented on #330
That is interesting, as it fails to install on Debian unstable:

[code]

Debian's install script runs:
[code]

[2017-09-08 21:37] graingert commented on #330
@zobelhelas that's a Debian packaging issue. They need to patch out that file for Python 2 builds. What happens if you use the official package from the repos or pip

[2017-09-08 21:46] zobelhelas commented on #330
@graingert i am currently preparing the upload of 1.11.1 to Debian. Do you want me to finally disable python2 support for this module?

[2017-09-08 21:49] graingert commented on #330
@zobelhelas you should be able to simply delete `vcr/_handle_coroutine.py` on the python 2 build

[2017-09-12 20:05] FrankSalad opened #331 "vcrpy fails to record requests made in setup and teardown"
If I declare a test like this:

[code]

The requests made in setUp are not recorded.

This issue is not remedied by using the VCRTest [unit test integration](https://vcrpy.readthedocs.io/en/latest/usage.html#unittest-integration)

[2017-09-12 21:35] eriol commented on #330
@graingert thanks for the hint, I will remove `vcr/_handle_coroutine.py` on the Python 2 build, I'm finalizing the Debian package of vcr.py.
@zobelhelas vcr.py is maintained under the umbrella of Debian Python Module Team[¹], I'm the actual maintainer, but feel free to work on it. However, I'm updating it right know.

Another problem with Debian vcr.py packaging is a test related to TLS1 that is f

[2017-09-13 11:42] zobelhelas commented on #330
@eriol Thanks alot. I am aware of the fact you managing the package within the Debian Python Team. My intention was to file a wishlist new-upstream bug, with the patch attached. I currently need the package updated, as i work on several Azure related packages, where vcrpy is within the dependency-tree. Issue can be closed then from my PoV.

[2017-09-13 13:54] j-funk commented on #331
did you try decorating the `setUp`?

[code]

[2017-09-13 19:18] FrankSalad commented on #331
@j-funk that would work if subsequent tests didn't rely on setUp creating a fresh new state with every call. If we decorate `setUp`, the cassette created will works with `test_case1`, but then if it gets used while recording `test_case2` it won't work because `test_case2` expects that `setUp` would have created a fresh user.

[code]

We're specifically using vcr to mock out Stripe, in case you wer

[2017-09-13 20:27] j-funk commented on #331
You have to forgive me for saying, but this seems like an issue with the way your tests/system under test are designed more than an issue with VCR.  If your tests are hermetic ie. no side effects or shared fixtures (like a DB instance), then you'll have a better time testing.

A brute force workaround would be to create a helper function like `make_network_request()` and call that from each test.

[2017-09-13 20:43] FrankSalad commented on #331
@j-funk yup, that's the strategy we're using. It just involves a bit more refactoring that we'd initially anticipated. I just wanted to raise an issue to highlight something that tripped us up in our initial consideration of VCR as a drop-in solution for our existing test suite.

It might be worth adding an example of this usage (annotating the setUp) and this potential gotcha in the docs.

[2017-09-24 17:40] eriol commented on #330
@zobelhelas sorry for the delay, I had problems with some failing tests due to bump on minimum TLS supported version. I uploaded vcr.py 1.11.1-1 to unstable: https://tracker.debian.org/news/874683.
Many thanks to all for the support!

[2017-09-24 17:56] graingert commented on #330
@eriol @zobelhelas cool, I'm assuming I can close this issues then

[2017-09-24 17:56] #330 closed

[2017-10-11 20:27] jonathan-willis opened #333 "What is the recommended way of using vcpy with boto3?"
I created a bunch of tests using vcrpy with boto3 without really looking under the hood at what was going on and just enjoying the magic.

Now I see that the requests are based on the settings in my environment (ex: region, credentials). If any of those change (which they have) the tests break.

I also just noticed the uri has changed for some boto calls which are breaking tests.
Example:
vcrpy is

[2017-10-11 21:06] kevin1024 commented on #333
You can filter that information from the request: http://vcrpy.readthedocs.io/en/latest/advanced.html#filter-sensitive-data-from-the-request

Then it will not be stored in the cassette so it shouldn't be used for matching.

[2017-10-11 21:06] #333 closed

[2017-10-11 21:18] jonathan-willis commented on #333
What about matching the cloudfront requests? Do I have to create a custom matcher so that in the future when they update their url again it doesn't break my tests? I imagine I'm not the only one using vcrpy with boto3. This along with any other issues that I'm probably not covering must be resolved already by someone.

[2017-10-11 22:01] kevin1024 commented on #333
Yup you could do that with a custom matcher.  Not aware of a more "universal" technique.

[2017-10-12 14:00] jonathan-willis commented on #333
Ok thanks.

[2017-10-25 08:51] pakal opened #334 "It seems that "register_persister()" does not work"
It seems that the "self.persister" attribute is never propagated to new Cassettes created, since get_merged_config() doesn't look it up.

The code and the related test works because only FileSystemPersister is used in both.

[2017-10-25 09:11] IvanMalison commented on #334
@pakal Looks like there is already a PR to fix this #324

[2017-10-25 09:17] #334 closed

[2017-10-25 09:28] pakal commented on #268
From what I see, all requests/responses are loaded once at cassette startup, with their preprocessors applied immediately.

[2017-10-25 09:36] pakal commented on #208
I was caught by this too, my cassettes kept growing when I wanted to just refresh request/response data.

A "rerecord" mode (or any other name) would be fine, in the meantime I've just added my own persister which erases the cassette in "load_cassette()", only when record_mode="all".

I can submit a PR if I know which way is considered the best to solve this use case (changing the meaning of "all"

[2017-10-25 10:08] IvanMalison commented on #208
@kevin1024 I think that we should just go ahead and make it so that the behaviors of the various keywords make sense. I think we might need to do a major version bump in that case, but this has always kind of annoyed me.

[2017-10-25 13:52] pakal opened #335 "Add "no-op" record mode ?"
We have a test suite which, when run againts real servers, generates very different HTTP responses (with cookies, E-tags, misc tokens, dates.......).

So it'd be handy to be able to bypass vcr-marked tests when used against live server, so that existing Cassetes are neither used nor overwritten with different responses.

Thus VCR would be used only for sandbox (continuous integration), with "none"

[2017-10-25 16:59] kevin1024 commented on #208
What does the Ruby VCR do in this case?  My original intent was for the record modes to function the same way in case people come over from Ruby.

[2017-10-27 08:16] pakal commented on #208
The "all" in VCR Ruby is documented as an overriding of current cassette, if I understand correctly ; https://relishapp.com/vcr/vcr/v/1-3-2/docs/record-modes/all-record-mode

So I guess it'd make sense to switch to that semantic, breaking the compatibility with the previous "append" semantic (for which I see no use case actually - the first cassette records would still be the one used in replay mo

[2017-10-30 08:34] pakal commented on #208
Note : it has to be decided whether the most important is keeping compat' with Ruby or with existing vcrpy users.
In the first case we correct the "all" behaviour, in the second case we add a new record mode like "override" ; I prefer the first choice though (we could add an "append" mode to keep this behaviour for those who would need it, but I doubt it is helpful to anyone).

[2017-10-30 09:38] pakal commented on #334
Neat, thanks

[2017-11-06 01:40] jeffnappi opened #337 "New Feature: Automatic Re-recording"
Automatic re-recording would be a great feature to add to vcrpy. This is a feature that has been available in the [Ruby VCR for quite some time](https://relishapp.com/vcr/vcr/v/3-0-3/docs/cassettes/automatic-re-recording).

I'd be happy to work on the implementation, but I'd like to know there is support for such a feature before I implement it.

[2017-11-06 15:00] samuelfekete opened #338 "Tests fail on master beacause of Python 2.6 support"
Tests are currently failing on master because a number of libraries have stopped supporting Python 2.
What I found so far, the following don't support Python 2.6:
[wheel>=0.30.0](https://github.com/pypa/wheel/blob/7ca7b3552e55030b5d78cd90d53f1d99c9139f16/CHANGES.txt#L15)
[ruamel.yaml>=0.12.0](https://bitbucket.org/ruamel/yaml/commits/6eca2e8f28dc2ed64f065972327be5a0e381549d?at=0.12.0)

(There were

[2017-11-07 15:29] Smosker opened #339 "aiohttp and vcrpy"
Hello! Now i'm rewriting one of my applications to be async, in tests i use vcrpy, but i cant figure out how to get it work with aiohttp, code example:

[code]

If you run code above once - everything will be ok - i can see that the cassete successfully created. But if i run same code again with existing cassete - i receive the following traceback:

[code]
im using python 3.6 and vcrpy==1.11.1
Any

[2017-11-14 11:11] Smosker commented on #325
really unexpected behavior

[2017-11-14 20:11] felipead commented on #227
I'm having exactly the same issue while trying to use VCR.py along with PyGithub.

[2017-11-28 06:48] memorysaver commented on #227
The same issue here. I want to integrate with chargebee API as well.

[2017-11-28 06:57] memorysaver commented on #227
I notice chargebee use urllib which is not supported by vcr.py rathar than urllib2 and urllib3. I didn't look into the cause, but I think it is highly related to this issue.

Moreover, someone raised this issue at chargebee's repo. Maybe help chargebee migrate to `request` would be a better idea.
https://github.com/chargebee/chargebee-python/issues/15

[2017-12-06 15:50] #339 closed

[2017-12-06 17:43] hartwork commented on #338
My vote for dropping support for Python 2.4, 2.5, 2.6. It's 2017.

[2017-12-07 12:40] hugovk commented on #338
👍

Here's the pip installs for vcrpy-unittest from PyPI for the last month (via `pypinfo --percent --pip vcrpy-unittest pyversion`) showing nothing for EOL Python 2.6.

| python_version | percent | download_count |
| -------------- | ------: | -------------: |
| 2.7            |   47.5% |            699 |
| 3.6            |   43.7% |            643 |
| 3.5            |    4.8% |             70 |
|

[2017-12-07 13:49] hugovk commented on #338
Feedback welcome on PR #340.

[2017-12-10 21:59] farialima opened #341 "vcrpy 1.11.1 doesn't work with requests 2.13 - fails silently"
... but it works with requests 2.18.4 (I haven't tried intermediate versions)

vcrpy 1.11, however, works with requests 2.13.

See below for a log that show the cases that work and don't work.
test case:
[code]

Output:

[code]

[2018-01-12 21:06] andrewsardone commented on #32
👋  Hi there! I'm a late comer to this issue 😄

@matclab, were you able to fix your Google App Engine + vcrpy issue? @kevin1024, is this still an open enhancement?

Thanks! I was pumped to find this library (big fan of the VCR flow), but I'm up against a similar `urllib` issue.

[2018-01-13 13:22] matclab commented on #32
@andrewsardone Unfortunately not. Using web2py I can do most of my unit test outside of GAE, and I've setup a continuous integration service to do the real online test (wityhout vcrpy) on GAE before shipping…

[2018-01-14 19:14] andrewsardone commented on #32
Gotcha. Thanks for the reply, @matclab!

[2018-01-16 05:16] 5j9 opened #342 "Installation on Python 3.4.0 is failing"
https://ci.appveyor.com/project/5j9/pywikibot-core/build/1.0.76/job/tls8y6s73onoi0yf#L139

This is because [multidict v4.0.0 has dropped support for python_version<3.4.1](https://github.com/aio-libs/multidict/commit/85da277d2cb172b727c3d4204e445f04d8e01bdf). And [yarl v1.0.0 only supports multidict>=4.0](https://github.com/aio-libs/yarl/commit/f544a79f20572604ca6d9dc86ef21f7378a66f9d).

So, `vcrpy

[2018-01-16 17:23] #338 closed

[2018-01-16 20:17] jaraco commented on #315
I've hit this issue too in a thread-based web server (cherrypy). Is it fixed? Is a release planned?

[2018-01-16 23:13] hartwork commented on #315
Related: https://github.com/kevin1024/vcrpy/pull/340#issuecomment-357770497

[2018-01-22 09:52] snebel29 commented on #316
I'm having the same issue, vcr not recording calls made by a library which is being call by a method of an object built by me. The library is using requests internally, I just read this thread and downgraded to `1.11.0` but still doesn't work.. I'm not sure if this is the same use case by the way.

[2018-01-28 19:08] ramusus commented on #32
@kevin1024
I'm also interested to use vcrpy for testing imdbpy. Is it difficult to migrate to `urllib3` or `requests`?

[2018-01-28 19:10] ramusus commented on #32
@kevin1024
I'm also interested to use vcrpy for testing imdbpy. It uses `urllib`. Is it difficult to add support for this lib?

[2018-02-15 18:07] RadJamesway commented on #339
@Smosker  I have this exact problem, how did you solve it?

[2018-02-16 07:24] Smosker commented on #339
as far as i remember i use `request.json() or request.text()` instead of `.read()`

[2018-02-16 21:38] RadJamesway commented on #339
actually there appears to be a PR that fixes my problem #329

[2018-02-22 16:27] avinash240 opened #347 "Does not support 'content_type' keyword for mocking version 2.3.10+ of aiohttp's Response object's json() method"
Does not support 'content_type' keyword for mocking version 2.3.10+ of aiohttp's Response object's json() method.

[2018-03-13 19:51] rosygupta commented on #342
Hey @5j9, can you please confirm is I'm facing the same issue via the trace below?
Thank you! :)

_`Installing vcrpy…
Collecting vcrpy
  Downloading vcrpy-1.11.1-py2.py3-none-any.whl
Collecting yarl; python_version in "3.4, 3.5, 3.6" (from vcrpy)
  Downloading yarl-1.1.1-cp35-cp35m-manylinux1_x86_64.whl (250kB)
Collecting PyYAML (from vcrpy)
  Downloading PyYAML-3.12.tar.gz (253kB)
Collecting wrap

[2018-03-14 02:39] 5j9 commented on #342
@rosygupta, `InvalidMarker` error is usually caused by an old `setuptools` version. Try `pip install -U setuptools`.

[2018-03-14 17:30] rosygupta commented on #342
Doesn't help. Says already upto date.
"notpip._vendor.packaging.markers.InvalidMarker: Invalid marker: 'python_version in "3.4, 3.5, 3.6"; python_version in "3.4, 3.5, 3.6"', parse error at '; python'"--- You sure this is some error particular to my system itself?

[2018-03-15 01:13] 5j9 commented on #342
Almost :) It seems that there have been a similar issue in [pipenv ](https://github.com/pypa/pipenv/pull/1624) which have resolved recently. Could try updating pipenv, too?

[2018-03-15 17:28] rosygupta commented on #342
@5j9 tried that as well. I setup the whole thing on a new system with no old installs. facing the same issue. I basically tried installing vcrpy in this repo:  https://github.com/OpenHumans/oh-proj-management after setting up the repo as suggested in the `README.md`

[2018-03-19 15:29] msheiny commented on #342
I'm also hitting exact same issue as @rosygupta  :| seems like a weird issue between `vcrpy` and `pipenv`  .

[code]

[2018-03-19 18:47] mukilkrishnan commented on #342
I am running into exactly the same issue as @rosygupta too. My guess is that this definitely has something to do with how `pipenv` deals with `vcrpy`:

[code]
[code]

Just to be sure, I uninstalled the Python 3.5.x that I had and installed 3.6.4 and updated `pip` and `pipenv`.

[2018-03-25 21:29] ad-m commented on #163
There is use related to character case:
[code]

[2018-03-26 13:53] chrisimcevoy opened #348 "aiohttp ClientResponse signature has changed"
Hi! Firstly, a quick thank you for this library.

I've hit an issue with the aiohttp stubs, following [this aiohttp commit](https://github.com/aio-libs/aiohttp/pull/2820/commits/98ab5cc4ae7bad883c2e3066b5f616741e848a36) which changes the signature of their ClientResponse class.

This breaks lines 56 and 66 in `aiohttp_stubs\.__init__.py`:

`response = MockClientResponse(method, URL(vcr_response.ge

[2018-03-27 15:05] grigi opened #349 "django 2.0 liveserver/runserver uses HTTP 1.1 and breaks playback"
I have a system where I use vcrpy for behave tests through livetestserver, it was working fine until django 2.0 (it was the last issue)
So I decided to debug it, and it seems that the issue was HTTP 1.1 keep-alive pipelining is getting confused, as it would expect the same connection, but sometimes gets a non-open connection.

By applying this monkeypatch to force LiveTestServer/runserver to drop

[2018-03-27 15:38] kevin1024 commented on #349
Thanks for doing the research.  Would merge a PR that adds that caveat to docs.

[2018-04-03 16:33] jaraco commented on #315
The issue I've encountered does seem to be helped by using the master of the repo. Is a release planned?

[2018-04-03 17:16] kevin1024 commented on #315
You're right, we probably should do a new release.

[2018-04-16 09:22] steveYeah opened #351 "Patching of urllib3"
Hey @kevin1024, I had an odd issue when trying to use VCRpy on a slightly older project last week. After a lot of digging we found that we were using an older version of requests that had the vendored version of urllib3, but also had urllib3 as a separate dependency. VCRpy was discovering the separately installed urllib3, and mocked that version and ignored the requests vendored package.

After lo

[2018-04-16 11:52] kevin1024 commented on #351
Thanks for tracking that down!  I think that’s a bug, it should be patching both, but the way requests hacked itself to remove the vendored dependency by directly manipulating sys.modules is probably messing with VCR’s monkey patching.

[2018-04-16 13:18] steveYeah commented on #351
Just to clarify, In our case it was an actual vendored version of urllib3 that wasn't being patched, as it was an older version on Requests, but it was patching the install urllib3 package. The upgrade to the new version of Requests was OK. Let me know if you need any more info. Thanks!

[2018-04-18 01:09] kgraves commented on #325
I'm also running into this with a project. The feature is not broken, but definitely is unexpected. I was also under the impression that this would only run when saving/"recording" a cassette, as the name implies. However it runs any time a cassette is used, and seems to be called exactly 4 times per request in my case, even in `once` mode with a saved cassette.

versions:
- python 3.6.2
- vcrpy v

[2018-04-18 16:08] lagenar opened #352 "vcrpy breaks when using an authenticated proxy for an HTTPS request"
I'm trying to generate some tests cases for requests that need to use an http proxy and I get an HTTP 407 from the proxy server.

After inspecting what's being sent when using vcrpy I found that it doesn't perform the `CONNECT` to start tunneling to the https site. It appears to send some binary data instead. I assume it's skipping the process of performing the initial setup of the proxy request a

[2018-04-20 14:54] danilosoares commented on #241
I fix my problem with the following code:

with open(file.path, "rb") as pdf_file:
        encoded_string = base64.b64encode(pdf_file.read())
        req_file = encoded_string.decode('utf-8')

payload = {
      'req_file' : req_file
}

res = requests.post(url, data=json.dumps(payload), headers=headers)

Has work!!!

[2018-04-23 12:59] Tr4pSt3R commented on #291
@Lukas0907 should this still be marked as an issue given @kevin1024 has kindly provided us with some explanation??

[2018-04-23 13:33] Lukas0907 commented on #291
I've changed my tests so I don't need this any more. From my side, the issue can be closed.

[2018-04-23 13:36] Tr4pSt3R commented on #291
It looks like from @kevin1024 's side this is a non-issue (_judging from his earlier explanation_)

[2018-04-23 13:37] Lukas0907 commented on #291
OK, then I'll close it.

[2018-04-23 13:37] #291 closed

[2018-04-23 13:39] Tr4pSt3R commented on #291
Thank you very much @Lukas0907 👍🏾

[2018-04-27 20:12] paultiplady commented on #337
I'd love to see this feature, @kevin1024 is there interest in taking a contribution here?

[2018-05-08 23:36] kgraves commented on #325
It looks like another person has been having the same issue. https://github.com/kevin1024/vcrpy/issues/268

[2018-05-09 06:50] kgraves opened #355 "before_record_response DOES change real response"
### Versions:
python: v3.6
vcrpy: 1.11.1

### Issue:
I tried using the `before_record_response` callback to scrub responses of sensitive auth info before they are written to disc. However, when I have a test that exercises a function that makes 2 requests, the first requesting an auth token, and the second using that auth token, I'm seeing that the actual response from the first request has been m

[2018-05-09 07:50] kgraves commented on #355
I think there is a bug [here](https://github.com/kevin1024/vcrpy/blob/1562bc7659497ce2ed2065cdb34396ce90ea6485/vcr/cassette.py#L222-L228)

Here's the function:
[code]

It's ok that `request` gets run through `_before_record_request` and appended to `self.data`, because the request has already been made, and we just need to record it. But `response` is being assigned to the return value of `_before

[2018-05-16 18:13] #348 closed

[2018-05-31 17:17] vEpiphyte opened #357 "rewinding a cassette"
Would it be possible to add a ``rewind()`` function to the cassette by resetting the ``play_counts`` counter?  This would allow replaying the same request multiple times on a cassette. I've implemented this myself but would be interested in adding it to the cassette class itself.

[2018-06-01 09:12] dimitrismistriotis opened #358 "Integration w. Twitter API"
Hi, do not know if this is the right place to ask, thought to give it a try. Fell free to close issue if off topic.

I was trying to record interactions with Twitter through https://github.com/bear/python-twitter/ . Although the API call was run from a test with successful results, there was no cassette being recorded. API uses requests under the hood (https://github.com/bear/python-twitter/blob/m

[2018-06-11 07:19] silencev opened #360 "aiohttp supported version?"
I'm using python 3.5.4 which shipped with aiohttp v2.3.7.
If I use **vcrpy 1.12.0** the aiohttp_stub will raise exception:
[code]

I see #353 made this change and broke python 3.5 support.
is it possible to let vcrpy support >= Python 3.5?

Thanks!

[2018-06-16 13:36] chrisimcevoy commented on #360
Python 3.5 does not ship with aiohttp at all. It’s not in the stdlib.

#353 does not break Python 3.5 support. (It does break Python 3.4 support, in line with what the current aiohttp supports).

If you update your aiohttp to the latest release, vcrpy should work fine.

[2018-06-18 19:20] radek-sprta commented on #337
I came to ask the same question. I would happily help testing this, if you wanna have a go at it.

[2018-06-19 18:53] shtratos opened #362 "Can't use filter_post_data_parameters for requests with empty POST body"
### Reproducing issue

[code]

First 3 `make_post` invocations pass and print correct response, final one throws exception:

[code]

### Root cause

The cause seems to be lack of `None` check here:
https://github.com/kevin1024/vcrpy/blob/ab6e6b5b5d035f3a9dab5061f5cc610252c7c73c/vcr/filters.py#L100

### Fix

The fix would be to add a `None` check and skip filter in that case.

### Workaround

Curre

[2018-06-19 22:07] wcooley opened #363 "Cassette path calculation from function outside of decorator?"
[Updated] I would like to calculate the path name of cassettes from a function object as is done when used as a decorator but not using a decorator and retaining access to the built cassette.
What I've come up with is pretty gnarly but I don't see a better way to do it with the current code base (I'm using 1.12.0).

What I've got looks like this:

[code]

[code]

This works, but as you can see, I

[2018-06-19 23:55] k-funk commented on #347
Same issue here: https://docs.aiohttp.org/en/stable/client_advanced.html#disabling-content-type-validation-for-json-responses
Vcr blows up with `TypeError: json() got an unexpected keyword argument 'content_type'`

[2018-06-20 02:49] gciding opened #364 "When using aiohttp - VCRpy does not save the query parameters"
Hi

I'm using VCRpy to record a set of several http requests in the form:

* https://www.foo.bar/?item=123
* https://www.foo.bar/?item=456

E.g. We're adding support for code written as:

[code]

as opposed to:

[code]

However, the current VCRpy implementation strips the query parameters in the first example when saving the cassette.

My suspicion was it was the line `request_url = URL(url).with_

[2018-06-20 22:32] wcooley opened #365 "Match logging logic is inverted"
The logic at [vcr/matchers.py:90](https://github.com/kevin1024/vcrpy/blob/ab6e6b5b5d035f3a9dab5061f5cc610252c7c73c/vcr/matchers.py#L90) is inverted--the `not` should be removed.
This listcomp is supposed to include only _True_ matcher results, which are in `m[0]`, but instead includes only `False`.

[code]

[2018-06-20 23:03] IvanMalison commented on #365
@wcooley Don't think so, this is logging why something DOESN'T match. Note the text being logged. This is also just for logging so it doesnt really affect anything.

[2018-06-21 18:30] wcooley commented on #365
@IvanMalison You're right; sorry -- This was logged this when it was correctly replaying a recorded request and right before logging "Playing response for <Request (GET)...> from cassette" but now that I look at it again, I see this is because this cassette has 2 R/Rs and this message appears while searching for the second R/R.

[2018-06-21 18:30] #365 closed

[2018-06-27 10:40] jbagot opened #366 "Yaml serializer fails since pyyaml 4.1"
Yesterday pyyaml was updated to version 4.1
And now I'm receiving this error:
`yaml.representer.RepresenterError: ('cannot represent an object', URL('<url>')`
The problem is in the `vcr/serializers/yamlserializer.py` file.
When the method `serialize` method is called.

I found this pull request that was pushed in the version 4.1 of pyyaml:
https://github.com/yaml/pyyaml/pull/74
 where they change

[2018-06-27 16:13] stefangordon commented on #366
I'm seeing even scarier things with pyyaml 4.1 -- vcrpy is actually overwriting cassettes during test runs (with record mode=once) on pyyaml 4.1

[2018-06-27 17:36] lmazuel commented on #366
Got hit by this as well, and the only difference between working Travis and broken Travis is indeed PyYAML 4.1 / 3.12. Thanks for the workaround @stefangordon, I will try to pin my dependency to 3.12 for now, and find time to re-record everything using 4.1 (:cry: :cry: :cry:)

[2018-06-27 23:16] lmazuel commented on #366
@stefangordon @jbagot found out the problem.

After some investigation, it impacts only files recorded with Python 2.7. Because starting PyYAML 4.x, the methods “load/safe_load” becomes respectively “danger_load/load” (i.e. by default creating Python object from YAML parsing is disabled).
In Py 2.7, YAML contains this:
[code]

Which will not be parsed anymore by default (since it creates a Python

[2018-06-28 00:00] stj opened #367 "Failing with aiohttp 3.3.2"
Tried against vcrpy master

[code]
When run raises

[code]

I managed to fix this for me by dropping Python 3.4 support and changed `vcr.stubs.aiohttp.__init__.vcr_request.new_requst` to use `async` and `await` syntax.

Tested against vcrpy==master, Python 3.6.5, aiohttp 3.3.2

[2018-06-28 15:00] mark0978 commented on #366
The correct place to pin the version is in setup.py

[2018-06-28 16:19] stj commented on #367
I pushed a fix to my [fork](https://github.com/stj/vcrpy/commit/9eccfc7348c583cacf523d5fee0f4e5f2ba0f16c). Though I believe it was a conscious decision to keep Python 3.4 compatibility when the fix for aiohttp 3.3 was original written. My fix ignores that and is probably not a solution you are looking for.

[2018-06-29 07:45] jbagot commented on #366
I never used python2 in the project where I have this problem. I started this issue because with the pyyaml 4.1 doesn't work in my project (python3.6).
Now is using the safe dumper instead of the danger and the pyyaml return an error when it has to represent a URL object.

[2018-06-29 16:58] lmazuel commented on #366
@jbagot In my scenario (which is clearly different than yours), a simple replace like `s$!!python/unicode $$` was enough to make my old recordings work with all PyYAML versions. But I guess it also depends on the pre-processors used and options.

I think the idea is that for each `!!python/xxxx` in the YAML file, this won't work out-of-the-box. VCRPy should probably propose a safe/danger mode tell

[2018-06-29 18:20] sevein commented on #366
It seems that PyYAML 4.1 has been removed. PyYAML 3.12 is again the latest stable release (which may bring some vcrpy users to the previous state) but I guess that won't be the case as soon as PyYAML 4.2 is released which seems like it's already in progress with a 4.2b1 release already published in PyPI: https://pypi.org/project/PyYAML/#history.

[2018-07-08 02:10] lamenezes commented on #366
I think we have to wait and see this new release of PyYAML to work on a fix to this issue. From the commentaries here using pyyaml < 4 works fine, so pinning the version is the solution for now.

[2018-07-08 02:41] lamenezes commented on #367
We're trying to keep compatibility with python 3.4 as long as we can, but if we come across an issue that we definitely can't solve in 3.4 we might drop support to it.

I tried running the snippet you passed and the code on your fork but I got `fixture 'aiohttp_client' not found` on both. Could you fix that so we can proceed discussing this issue?

[2018-07-08 02:52] stj commented on #367
https://github.com/aio-libs/aiohttp/blame/master/aiohttp/pytest_plugin.py#L328
That snippet will works with aiohttp 3.3.2. What version are you trying to test against?

[2018-07-08 03:01] lamenezes commented on #367
I'm using aiohttp==3.3.2.

I think it would be better if you opened a PR and we moved this discussion there. What do you think?

[2018-07-08 17:47] lamenezes commented on #347
Fixed by PR #368. The patch will be available on the next vcrpy release.

[2018-07-08 17:47] #347 closed

[2018-07-09 15:38] stj commented on #367
Created PR and changed `aiohttp_client` to `test_client` in snippet.
We can continue discussion in PR.

[2018-07-12 02:55] lamenezes commented on #364
@gciding thanks for submitting the issue and the PR. I believe this is going to be solved on the next vcrpy release.

[2018-07-12 02:55] #364 closed

[2018-07-13 02:19] #355 closed

[2018-07-13 18:29] felixonmars opened #372 "Missing git tag for 1.13.0 release"
It would be nice to keep PyPI releases and git tags in sync :)

[2018-07-13 18:32] lamenezes commented on #372
I forgot to push the tags, thanks for the reminder. They're up now :+1: :soccer: :top:

[2018-07-13 18:32] #372 closed

[2018-07-16 16:50] lsmithso opened #373 "Python 3.7 support"
Does vcrpy support Python 3.7.0? If not is such support planned?

Our vcrpy tests are failing when run with Python 3.7.0. They work fine
with Python 2.7 and earlier versions of Python 3. vcrpy is failing to
match requests to cassette files. However when stepped through with a
debugger the matching works fine. I see a lot of coroutine code in
cassette.py. Is there some kind of race with Python 3.7.

[2018-07-20 00:09] eli-schwartz opened #375 "Tests fail on python 3.7"
Arch Linux is currently trying to update to python 3.7.0, and while rebuilding all packages in our repositories, vcrpy failed the testsuite with the following log:

[code]

[2018-07-21 14:09] abitrolly opened #377 "Add vcr to repository topics"
Because. https://github.com/topics/vcr

[2018-07-30 20:03] sd4B75bJ opened #378 "Do not download body using requests stream=True"
I'm trying to just check the content-length without downloading the body. I can't use a HEAD request as the server only excepts GETs and content-length is not always included anyway. Thus I am using a GET request with stream=True and then closing the connection
[code]
However with vcrpy the body is being downloaded and stored in the cassette, how can I avoide this? Ideally I would avoide this inst

[2018-08-03 17:25] wcooley commented on #363
Upon further consideration and experience actually using VCRpy with pytest, I have come to realize that while my initial motivation was perhaps trivial, not being able to easily use it as a pytest fixture is problematic because I cannot easily mix it with other fixtures, which might themselves make HTTP calls that VCRpy needs to intercept.

Examples:
* Testing Celery tasks with the [celery_worker]

[2018-08-03 18:08] wcooley commented on #363
I seem to have resolved the problem--I seem to have not realized until a few minutes ago that `func_path_generator` and `path_transformer` where somewhat redundant as I was using them; the former being used to extract the function name (to base the cassette file name on) when used as a decorator and the latter being used to modify either the name from the former (when used as a decorator) or the n

[2018-08-03 18:08] #363 closed

[2018-08-08 15:24] kasirajanss93 opened #380 "vcr use_cassette does not work for 400 status code for aiohttp"
Seems like @vcr.use_cassette does not record and creates an yaml file when running test using aiohttp

It hits the server each time rather than recording and using the yaml file for reply.

[2018-08-11 00:45] 1ucian0 commented on #208
Just for the record, I would love "all" to override instead of append.

[2018-08-17 15:29] harrislapiroff commented on #331
I also encountered this issue when trying to write tests around the Stripe API. It's certainly an architecturally tricky one...

[2018-08-21 13:01] pedropregueiro opened #381 "Small potential improvement in auto naming"
I'm using VCR.py for some integration mocking, one of them being Stripe, and I was considering using the [auto-naming](https://vcrpy.readthedocs.io/en/latest/advanced.html#automatic-cassette-naming) functionality for this, but then I noticed that if I use that, I can't really control the folder structure of my cassettes. Maybe this is a bit picky or it actually could be done some other way (like u

[2018-08-29 21:41] AnalogJ opened #382 "boto3 integration broken"
Hey,
I've recently started seeing boto3 related failures in my unit tests. The recordings had been working previously, but it seems that something has changed in boto, and the vcrpy support is no longer working.

[code]

[2018-09-04 08:15] MikeWooster opened #383 "[idea] templated cassettes"
Firstly, I would like to say how great vcrpy is.  It has definitely made testing so much easier!

I have frequently found myself needing to customise the response in the vcrpy cassette.  To do this, I have had to write a templated cassette, save that to a temporary location and then point vcrpy to that so that it responds with the custom response.  I wondered if it would be (or already is) possibl

[2018-09-04 13:43] adamchainz commented on #382
I'm also seeing problems with boto3 1.8+ / botocore 1.11+ - probably due to [stopping use of vendorede requests/urllib3](https://botocore.amazonaws.com/v1/documentation/api/latest/index.html#upgrading-to-1-11-0). But that warning you're seeing doesn't seem related to what I am seeing, which is just that boto3 functions continued to attempt actual API calls.

[2018-09-06 11:26] Iftahh opened #385 "vcr recording requests with http_proxy os env"
I have to access the internet through a proxy in my workplace.
This is setup with environment variables,  `https_proxy=http_proxy= http://theproxyhost:3128`

This breaks vcr with `requests`

I'm using vcr 1.13.0 and requests 2.19.1

There are two different stack traces - one if I try to access `http` and another if I try to access `https`  (see below)

eg.

[code]
The exception is:
`ValueError: in

[2018-09-08 16:45] hartwork commented on #385
Please see #214 and #319

[2018-09-12 12:02] aqw opened #387 "before_record_request mutates request"
I have run into the same problem as #356, but instead with the request. Using filters does not mutate the request, but using the before_record_request callback does modify the request.

I would provide a patch (as the fix is trivial), but I can't quite figure out how to test this using httplib (which is what the tests use). Unlike the requests package, I can't find in the httplib API where the req

[2018-09-12 16:49] Alkalit opened #388 "(Deadlock?) problem with a single sized connection pool"
I decided to try this package to test my project. The project uses many services through rest apis and one of them has a constraint - it doesnt allow parallel requests. I use 'requests' library to perform api calls and I wrote a custom Session for the service. The snippet:

[code]

So I wrote a few testcases and wrapped them in `@vcr.use_cassette`

The problem is - when I launch `python manage.py

[2018-09-19 11:00] aqw opened #392 "allow_playback_repeats functionality"
VCR's ``allow_playback_repeats`` option provides the ability to basically de-duplicate multiple identical requests made in the same session.
https://relishapp.com/vcr/vcr/docs/request-matching/playback-repeats

I have been unable to turn up similar functionality in vcrpy (though I did find it was the original behavior prior to version 0.4)

I agree with the default behavior being what it is, but i

[2018-09-20 00:18] lmazuel opened #393 "VCRPy 2.0.0 doesn't work on 3.4 anymore"
My Travis job is now failing on 3.4:
[code]

I did nothing else than installing the 2.0.0 and starting the same job as usual (requests based recording).

Does VCRPy 2.0.0 still supports 3.4? The 2.7 job works as expected, so my guess is there is condition a little loose on loading async code.

[2018-09-20 13:00] lamenezes commented on #393
aiohttp stub doesn't work for python 3.4 on vcrpy 2.0 as stated on the changelog [1] and the release notes [2].

[1] https://vcrpy.readthedocs.io/en/latest/changelog.html
[2] https://github.com/kevin1024/vcrpy/releases/tag/v2.0.0

[2018-09-20 13:05] lamenezes commented on #375
@eli-schwartz thans for taking your time and opening this issue. vcrpy 2.0 has been just released with py37 support so this issue should be solved. I'm closing this for now and if the problem persists feel free to open other issue.

[2018-09-20 13:05] #375 closed

[2018-09-20 13:06] lamenezes commented on #373
@lsmithso thans for taking your time and opening this issue. vcrpy 2.0 has been just released with py37 support so this issue should be solved. I'm closing this for now and if the problem persists feel free to open other issue.

[2018-09-20 13:06] #373 closed

[2018-09-20 13:08] lamenezes commented on #366
I believe this was fixed by PyYAML. If the problem persists feel free to open another issue. Thanks everyone for the discussion :)

[2018-09-20 13:08] #366 closed

[2018-09-20 16:30] lmazuel commented on #393
@lamenezes I don't use aiohttp at all, just requests. If you look closely, this stacktrace comes from `import vcr`, so there is nothing I can do.

If VCRPy as a whole is not compatible with 3.4 I got no trouble with that, but then mae it clear in ChangeLog: VCRPy does not support 3.4 anymore. And on PyPi as well (3.4 descriptor is still there).